.form-filter{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 35px 0;
	color: $color-white;

	.button{
		display: block;
		text-align: center;
		padding: 0;
		width: 100%;
	}

	&__edit{
		display: block;
		height: $input-height;
		position:relative;

		i{
			@include align();
		}

		span{
			position: absolute;
			display: block;
			bottom: 100%;
			width: 160px;
			left: -100px;
			right: -100px;
			margin: auto;
			line-height: $input-height;
			margin-bottom: 5px;

			text-align: center;
			@include font(regular);
			white-space: nowrap;
			font-size: 18px;
			color: #fff;
			background-color: $color-primary;

			@include box-shadow(0 10px 10px rgba(0, 0, 0, 0.26));
			@include opacity(0);
			visibility: hidden;
			@include animate("opacity, visibility, margin");

			&:after{
			    display: block;
			    content: "";
			    @include align(horizontal);
			    top: 100%;

			    width: 0;
			    height: 0;
			    border-style: solid;
			    border-width: 8px 7px 0 7px;
			    border-color: $color-primary transparent transparent transparent;
			}
		}

		&:hover span{
			@include opacity(1);
			visibility: visible;
			margin-bottom: 18px;
		}
	}
}