/*-----------------------------------------------------------------------------------*/
/*  HELPERS
/*-----------------------------------------------------------------------------------*/

//centering objects
._vertical-aligned	{	@include align(vertical); 	}
._horizontal-aligned	{	@include align(horizontal); }
._both-aligned		{	@include align(both); 		}


//CUSTOM
._table{display: table;width: 100%;vertical-align: middle;}
._cell{display: table-cell;vertical-align: middle;}


// TEXT
._text-right {text-align: right}
._text-left {text-align: left}
._text-center {text-align: center}
._text-justify {text-align: justify}
._uppercase{text-transform: uppercase;}

._text-underline {text-decoration: underline}
._text-no-decoration {text-decoration: none}
._text-strike {text-decoration: line-through}

._text-no-wrap {white-space: nowrap}
._text-wrap {word-wrap: break-word}

// MARGIN
._m0  {margin: 0px}
._m5  {margin: 5px}
._m10 {margin: 10px}
._m15 {margin: 15px}
._m20 {margin: 20px}
._m25 {margin: 25px}
._m30 {margin: 30px}
._m35 {margin: 35px}
._m40 {margin: 40px}
._m45 {margin: 45px}
._m50 {margin: 50px}
._m55 {margin: 55px}
._m60 {margin: 60px}

._ml0  {margin-left: 0px}
._ml5  {margin-left: 5px}
._ml10 {margin-left: 10px}
._ml15 {margin-left: 15px}
._ml20 {margin-left: 20px}
._ml25 {margin-left: 25px}
._ml30 {margin-left: 30px}
._ml35 {margin-left: 35px}
._ml40 {margin-left: 40px}
._ml45 {margin-left: 45px}
._ml50 {margin-left: 50px}
._ml55 {margin-left: 55px}
._ml60 {margin-left: 60px}

._mr0  {margin-right: 0px}
._mr5  {margin-right: 5px}
._mr10 {margin-right: 10px}
._mr15 {margin-right: 15px}
._mr20 {margin-right: 20px}
._mr25 {margin-right: 25px}
._mr30 {margin-right: 30px}
._mr35 {margin-right: 35px}
._mr40 {margin-right: 40px}
._mr45 {margin-right: 45px}
._mr50 {margin-right: 50px}
._mr55 {margin-right: 55px}
._mr60 {margin-right: 60px}

._mt0  {margin-top: 0px}
._mt5  {margin-top: 5px}
._mt10 {margin-top: 10px}
._mt15 {margin-top: 15px}
._mt20 {margin-top: 20px}
._mt25 {margin-top: 25px}
._mt30 {margin-top: 30px}
._mt35 {margin-top: 35px}
._mt40 {margin-top: 40px}
._mt45 {margin-top: 45px}
._mt50 {margin-top: 50px}
._mt55 {margin-top: 55px}
._mt60 {margin-top: 60px}

._mb0  {margin-bottom: 0px}
._mb5  {margin-bottom: 5px}
._mb10 {margin-bottom: 10px}
._mb15 {margin-bottom: 15px}
._mb20 {margin-bottom: 20px}
._mb25 {margin-bottom: 25px}
._mb30 {margin-bottom: 30px}
._mb35 {margin-bottom: 35px}
._mb40 {margin-bottom: 40px}
._mb45 {margin-bottom: 45px}
._mb50 {margin-bottom: 50px}
._mb55 {margin-bottom: 55px}
._mb60 {margin-bottom: 60px}

// PADDING
._p0  {padding: 0px}
._p5  {padding: 5px}
._p10 {padding: 10px}
._p15 {padding: 15px}
._p20 {padding: 20px}
._p25 {padding: 25px}
._p30 {padding: 30px}
._p35 {padding: 35px}
._p40 {padding: 40px}
._p45 {padding: 45px}
._p50 {padding: 50px}
._p55 {padding: 55px}
._p60 {padding: 60px}

._pl0  {padding-left: 0px}
._pl5  {padding-left: 5px}
._pl10 {padding-left: 10px}
._pl15 {padding-left: 15px}
._pl20 {padding-left: 20px}
._pl25 {padding-left: 25px}
._pl30 {padding-left: 30px}
._pl35 {padding-left: 35px}
._pl40 {padding-left: 40px}
._pl45 {padding-left: 45px}
._pl50 {padding-left: 50px}
._pl55 {padding-left: 55px}
._pl60 {padding-left: 60px}

._pr0  {padding-right: 0px}
._pr5  {padding-right: 5px}
._pr10 {padding-right: 10px}
._pr15 {padding-right: 15px}
._pr20 {padding-right: 20px}
._pr25 {padding-right: 25px}
._pr30 {padding-right: 30px}
._pr35 {padding-right: 35px}
._pr40 {padding-right: 40px}
._pr45 {padding-right: 45px}
._pr50 {padding-right: 50px}
._pr55 {padding-right: 55px}
._pr60 {padding-right: 60px}

._pt0  {padding-top: 0px}
._pt5  {padding-top: 5px}
._pt10 {padding-top: 10px}
._pt15 {padding-top: 15px}
._pt20 {padding-top: 20px}
._pt25 {padding-top: 25px}
._pt30 {padding-top: 30px}
._pt35 {padding-top: 35px}
._pt40 {padding-top: 40px}
._pt45 {padding-top: 45px}
._pt50 {padding-top: 50px}
._pt55 {padding-top: 55px}
._pt60 {padding-top: 60px}

._pb0  {padding-bottom: 0px}
._pb5  {padding-bottom: 5px}
._pb10 {padding-bottom: 10px}
._pb15 {padding-bottom: 15px}
._pb20 {padding-bottom: 20px}
._pb25 {padding-bottom: 25px}
._pb30 {padding-bottom: 30px}
._pb35 {padding-bottom: 35px}
._pb40 {padding-bottom: 40px}
._pb45 {padding-bottom: 45px}
._pb50 {padding-bottom: 50px}
._pb55 {padding-bottom: 55px}
._pb60 {padding-bottom: 60px}

// FONT
._fs10 {font-size: 10px}
._fs11 {font-size: 11px}
._fs12 {font-size: 12px}
._fs13 {font-size: 13px}
._fs14 {font-size: 14px}
._fs15 {font-size: 15px}
._fs16 {font-size: 16px}
._fs17 {font-size: 17px}
._fs18 {font-size: 18px}
._fs19 {font-size: 19px}
._fs20 {font-size: 20px}
._fs21 {font-size: 21px}
._fs22 {font-size: 22px}
._fs23 {font-size: 23px}
._fs24 {font-size: 24px}

._fw-normal {font-weight: normal}
._fw-bold {font-weight: bold}

._fstyle-normal {font-style: normal}
._fstyle-italic {font-style: italic}

// FLOAT + CLEAR
._clear {clear: both}
._clear-r {clear: right}
._clear-l {clear: left}

._float-right	{float: right;}
._float-left		{float: left;}
._float-none	  	{float: none}

// DISPLAY
._display-inline {display: inline}
._display-inline-block {display: inline-block}
._display-block {display: block}
._display-none {display: none}
._center-block{display: block;margin-left: auto;margin-right: auto;float: none;}

// CURSOR
._cursor-pointer {cursor: pointer}
._cursor-move {cursor: move}
._cursor-auto {cursor: auto}
._cursor-help {cursor: help}

// OTHER
._relative {position: relative }

