/*-----------------------------------------------------------------------------------*/
/*  HELPERS mobile
/*-----------------------------------------------------------------------------------*/
@include query( $mobile ){

	//centering objects
	.h-mob-vertical-aligned	{	@include align(vertical); 	}
	.h-mob-horizontal-aligned	{	@include align(horizontal); }
	.h-mob-both-aligned		{	@include align(both); 		}


	//CUSTOM
	.h-mob-table{display: table;width: 100%;vertical-align: middle;}
	.h-mob-cell{display: table-cell;vertical-align: middle;}


	// TEXT
	.h-mob-text-right {text-align: right}
	.h-mob-text-left {text-align: left}
	.h-mob-text-center {text-align: center}
	.h-mob-text-justify {text-align: justify}
	.h-mob-uppercase{text-transform: uppercase;}

	.h-mob-text-underline {text-decoration: underline}
	.h-mob-text-no-decoration {text-decoration: none}
	.h-mob-text-strike {text-decoration: line-through}

	.h-mob-text-no-wrap {white-space: nowrap}
	.h-mob-text-wrap {word-wrap: break-word}

	// MARGIN
	.h-mob-m0  {margin: 0px}
	.h-mob-m5  {margin: 5px}
	.h-mob-m10 {margin: 10px}
	.h-mob-m15 {margin: 15px}
	.h-mob-m20 {margin: 20px}
	.h-mob-m25 {margin: 25px}
	.h-mob-m30 {margin: 30px}
	.h-mob-m35 {margin: 35px}
	.h-mob-m40 {margin: 40px}
	.h-mob-m45 {margin: 45px}
	.h-mob-m50 {margin: 50px}
	.h-mob-m55 {margin: 55px}
	.h-mob-m60 {margin: 60px}

	.h-mob-ml0  {margin-left: 0px}
	.h-mob-ml5  {margin-left: 5px}
	.h-mob-ml10 {margin-left: 10px}
	.h-mob-ml15 {margin-left: 15px}
	.h-mob-ml20 {margin-left: 20px}
	.h-mob-ml25 {margin-left: 25px}
	.h-mob-ml30 {margin-left: 30px}
	.h-mob-ml35 {margin-left: 35px}
	.h-mob-ml40 {margin-left: 40px}
	.h-mob-ml45 {margin-left: 45px}
	.h-mob-ml50 {margin-left: 50px}
	.h-mob-ml55 {margin-left: 55px}
	.h-mob-ml60 {margin-left: 60px}

	.h-mob-mr0  {margin-right: 0px}
	.h-mob-mr5  {margin-right: 5px}
	.h-mob-mr10 {margin-right: 10px}
	.h-mob-mr15 {margin-right: 15px}
	.h-mob-mr20 {margin-right: 20px}
	.h-mob-mr25 {margin-right: 25px}
	.h-mob-mr30 {margin-right: 30px}
	.h-mob-mr35 {margin-right: 35px}
	.h-mob-mr40 {margin-right: 40px}
	.h-mob-mr45 {margin-right: 45px}
	.h-mob-mr50 {margin-right: 50px}
	.h-mob-mr55 {margin-right: 55px}
	.h-mob-mr60 {margin-right: 60px}

	.h-mob-mt0  {margin-top: 0px}
	.h-mob-mt5  {margin-top: 5px}
	.h-mob-mt10 {margin-top: 10px}
	.h-mob-mt15 {margin-top: 15px}
	.h-mob-mt20 {margin-top: 20px}
	.h-mob-mt25 {margin-top: 25px}
	.h-mob-mt30 {margin-top: 30px}
	.h-mob-mt35 {margin-top: 35px}
	.h-mob-mt40 {margin-top: 40px}
	.h-mob-mt45 {margin-top: 45px}
	.h-mob-mt50 {margin-top: 50px}
	.h-mob-mt55 {margin-top: 55px}
	.h-mob-mt60 {margin-top: 60px}

	.h-mob-mb0  {margin-bottom: 0px}
	.h-mob-mb5  {margin-bottom: 5px}
	.h-mob-mb10 {margin-bottom: 10px}
	.h-mob-mb15 {margin-bottom: 15px}
	.h-mob-mb20 {margin-bottom: 20px}
	.h-mob-mb25 {margin-bottom: 25px}
	.h-mob-mb30 {margin-bottom: 30px}
	.h-mob-mb35 {margin-bottom: 35px}
	.h-mob-mb40 {margin-bottom: 40px}
	.h-mob-mb45 {margin-bottom: 45px}
	.h-mob-mb50 {margin-bottom: 50px}
	.h-mob-mb55 {margin-bottom: 55px}
	.h-mob-mb60 {margin-bottom: 60px}

	// PADDING
	.h-mob-p0  {padding: 0px}
	.h-mob-p5  {padding: 5px}
	.h-mob-p10 {padding: 10px}
	.h-mob-p15 {padding: 15px}
	.h-mob-p20 {padding: 20px}
	.h-mob-p25 {padding: 25px}
	.h-mob-p30 {padding: 30px}
	.h-mob-p35 {padding: 35px}
	.h-mob-p40 {padding: 40px}
	.h-mob-p45 {padding: 45px}
	.h-mob-p50 {padding: 50px}
	.h-mob-p55 {padding: 55px}
	.h-mob-p60 {padding: 60px}

	.h-mob-pl0  {padding-left: 0px}
	.h-mob-pl5  {padding-left: 5px}
	.h-mob-pl10 {padding-left: 10px}
	.h-mob-pl15 {padding-left: 15px}
	.h-mob-pl20 {padding-left: 20px}
	.h-mob-pl25 {padding-left: 25px}
	.h-mob-pl30 {padding-left: 30px}
	.h-mob-pl35 {padding-left: 35px}
	.h-mob-pl40 {padding-left: 40px}
	.h-mob-pl45 {padding-left: 45px}
	.h-mob-pl50 {padding-left: 50px}
	.h-mob-pl55 {padding-left: 55px}
	.h-mob-pl60 {padding-left: 60px}

	.h-mob-pr0  {padding-right: 0px}
	.h-mob-pr5  {padding-right: 5px}
	.h-mob-pr10 {padding-right: 10px}
	.h-mob-pr15 {padding-right: 15px}
	.h-mob-pr20 {padding-right: 20px}
	.h-mob-pr25 {padding-right: 25px}
	.h-mob-pr30 {padding-right: 30px}
	.h-mob-pr35 {padding-right: 35px}
	.h-mob-pr40 {padding-right: 40px}
	.h-mob-pr45 {padding-right: 45px}
	.h-mob-pr50 {padding-right: 50px}
	.h-mob-pr55 {padding-right: 55px}
	.h-mob-pr60 {padding-right: 60px}

	.h-mob-pt0  {padding-top: 0px}
	.h-mob-pt5  {padding-top: 5px}
	.h-mob-pt10 {padding-top: 10px}
	.h-mob-pt15 {padding-top: 15px}
	.h-mob-pt20 {padding-top: 20px}
	.h-mob-pt25 {padding-top: 25px}
	.h-mob-pt30 {padding-top: 30px}
	.h-mob-pt35 {padding-top: 35px}
	.h-mob-pt40 {padding-top: 40px}
	.h-mob-pt45 {padding-top: 45px}
	.h-mob-pt50 {padding-top: 50px}
	.h-mob-pt55 {padding-top: 55px}
	.h-mob-pt60 {padding-top: 60px}

	.h-mob-pb0  {padding-bottom: 0px}
	.h-mob-pb5  {padding-bottom: 5px}
	.h-mob-pb10 {padding-bottom: 10px}
	.h-mob-pb15 {padding-bottom: 15px}
	.h-mob-pb20 {padding-bottom: 20px}
	.h-mob-pb25 {padding-bottom: 25px}
	.h-mob-pb30 {padding-bottom: 30px}
	.h-mob-pb35 {padding-bottom: 35px}
	.h-mob-pb40 {padding-bottom: 40px}
	.h-mob-pb45 {padding-bottom: 45px}
	.h-mob-pb50 {padding-bottom: 50px}
	.h-mob-pb55 {padding-bottom: 55px}
	.h-mob-pb60 {padding-bottom: 60px}

	// FONT
	.h-mob-fs10 {font-size: 10px}
	.h-mob-fs11 {font-size: 11px}
	.h-mob-fs12 {font-size: 12px}
	.h-mob-fs13 {font-size: 13px}
	.h-mob-fs14 {font-size: 14px}
	.h-mob-fs15 {font-size: 15px}
	.h-mob-fs16 {font-size: 16px}
	.h-mob-fs17 {font-size: 17px}
	.h-mob-fs18 {font-size: 18px}
	.h-mob-fs19 {font-size: 19px}
	.h-mob-fs20 {font-size: 20px}
	.h-mob-fs21 {font-size: 21px}
	.h-mob-fs22 {font-size: 22px}
	.h-mob-fs23 {font-size: 23px}
	.h-mob-fs24 {font-size: 24px}

	.h-mob-fw-normal {font-weight: normal}
	.h-mob-fw-bold {font-weight: bold}

	.h-mob-fstyle-normal {font-style: normal}
	.h-mob-fstyle-italic {font-style: italic}

	// FLOAT + CLEAR
	.h-mob-clear {clear: both}
	.h-mob-clear-r {clear: right}
	.h-mob-clear-l {clear: left}

	.h-mob-float-right	{float: right;}
	.h-mob-float-left		{float: left;}
	.h-mob-float-none	  	{float: none}

	// DISPLAY
	.h-mob-display-inline {display: inline}
	.h-mob-display-inline-block {display: inline-block}
	.h-mob-display-block {display: block}
	.h-mob-display-none {display: none}
	.h-mob-center-block{display: block;margin-left: auto;margin-right: auto;float: none;}

	// CURSOR
	.h-mob-cursor-pointer {cursor: pointer}
	.h-mob-cursor-move {cursor: move}
	.h-mob-cursor-auto {cursor: auto}
	.h-mob-cursor-help {cursor: help}

	// OTHER
	.h-mob-relative {position: relative }

}