@include query( $mobile, min ) {

	._mobile-only {
		display: none;
	}
}

@include query( $tablet, min ) {

	._mobile-tablet-only {
		display: none;
	}

	._tablet-only {
		display: none;
	}
}

@include query( $mobile ) {

	._tablet-desktop-only {
		display: none;
	}

	._tablet-only {
		display: none;
	}
}

@include query( $tablet ) {

	._desktop-only {
		display: none;
	}
}