/*-----------------------------------------------------------------------------------*/
/*  background helpers
/*-----------------------------------------------------------------------------------*/

@if variable-exists(color-primary){
	._background-primary{
		background-color: $color-primary
	}
}

@if variable-exists(color-secondary){
	._background-secondary{
		background-color: $color-secondary
	}
}

@if variable-exists(color-success){
	._background-success{
		background-color: $color-success
	}
}

@if variable-exists(color-danger){
	._background-danger{
		background-color: $color-danger
	}
}

@if variable-exists(color-warning){
	._background-warning{
		background-color: $color-warning
	}
}

@if variable-exists(color-info){
	._background-info{
		background-color: $color-info
	}
}

@if variable-exists(color-light){
	._background-light{
		background-color: $color-light
	}
}

@if variable-exists(color-dark){
	._background-dark{
		background-color: $color-dark
	}
}

@if variable-exists(color-link){
	._background-link{
		background-color: $color-link
	}
}
