/*-----------------------------------------------------------------------------------*/
/*  BUTTONS
/*-----------------------------------------------------------------------------------*/

.button{
	width: auto;
	padding: 0 32px;
	height: $btn-height;
	line-height: $btn-height - ($btn-border-width*2);
	vertical-align:middle;
	display: inline-block;

	border: $btn-border-width solid $btn-border;
	color: $btn-color;
	background: $btn-bg;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
	outline: none;

	@include border-radius(28px);
	@include animate("background, color");

	&:hover{
		border-color: $btn-border-hover;
		color: $btn-color;
		background: $btn-bg-hover;
	}

	&--dark{
		background: #141312;

		&:hover{
			color: $color-primary;
			background: $color-white;
		}
	}
}