/*
	varianty bez nutnosti psát ke každému inputu v html třídu
	--- jinak je možno přidat třídy jako .input-field pro specifické inputy a BEM bude fungovat skvěle
*/

.input {
	display: block;
	height: $input-height;
	padding: 0 15px;
	width: 100%;
	margin-bottom: $input-bottom-margin;

	font-size: $font-size;
	line-height: $input-height - ($input-border-width*2);
	@include font(regular);
	color: $color-base;

	background: $input-bg;
	border: $input-border-width solid $input-border;
	@include animate();
	@include border-radius(25px);

	&:focus {
		background: darken($input-bg, 5%);
		border-color: darken($input-border, 5%);
	}

	&--secondary{
		font-size: 16px;
		height: 50px;
		line-height: 48px;
	}
}

textarea {
	display: block;
	height: $input-height*3;
	min-height: $input-height;
	padding: 5px 15px;
	width: 100%;
	margin-bottom: $input-bottom-margin;

	font-size: $font-size;
	line-height: $input-height/3*2;
	@include font(regular);
	color: $color-base;

	background: $input-bg;
	border: $input-border-width solid $input-border;
	@include animate();
	@include border-radius(25px);

	&:focus {
		background: darken($input-bg, 5%);
		border-color: darken($input-border, 5%);
	}
}


select {
	display: block;
	height: $input-height;
	width: 100%;
	padding: 5px 15px;
	margin-bottom: $input-bottom-margin;

	font-size: $font-size;
	line-height: $input-height - ($input-border-width*2);
	@include font(regular);
	color: $color-base;

	background: $input-bg;
	border: $input-border-width solid $input-border;
	@include animate();
}

.input-radio {
	background-color: transparent;
	border: 0px;
}

.input-checkbox {
	padding:1px;
	height:13px;
	width:13px;

	border:0px;
	background:none;
	vertical-align:middle;
}
