/*-----------------------------------------------------------------------------------*/
/*  STYLED SELECT
/*-----------------------------------------------------------------------------------*/

.select-styled {
	display: block;
	width: 100%;
	overflow: hidden;
	height: $input-height;
	background: $input-bg;
	border: 1px solid $input-border;
	color: $cl-base;
	outline: none;
	position: relative;
	z-index: 5;
	margin-bottom: px-to-rem($input-bottom-margin);

	&:after{
		display:block;content: "";
		//@include png-sprite(select-arrow,va);
		left: auto;right: 10%;
		z-index: -1;
	}


	@include animate(200);
	@include radius($radius);

	&:focus {
		background: darken(#fff, 1%);
		border-color: darken($input-border, 5%);
	}

	select{
		cursor: pointer;-webkit-appearance:none;
		display: block;width: 150%;border: 0;outline: none;
		background: transparent;border-left: 15px solid #fff;
		padding: 0;margin: 0;
		height: $input-height - 0.2rem;
		option{
			padding: 0 15px;
		}
		&:focus{outline: none;}
	}
}

// select with span 
.custom-select{
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: px-to-rem($input-bottom-margin);

	position: relative;
	z-index: 5;
	height: $input-height;

	background: $input-bg;
	border: $btn-border-width solid $input-border;

	color: $cl-base;
	outline: none;
	@include radius();
	
	&:after{
		display:block;
		content: "";
		position: absolute;
		background: #fff;
		width: 20px;
		right: 1px;
		top: 1px;
		bottom: 1px;
		z-index: 5;
	}

	&:before{
		display:block;
		content: "";
		//@include sprite(select-arrow,va);
		right: 15px;
		z-index: 10;
	}

	select{
		display: block;
		padding: 0;
		border: 0;

		margin: -($btn-border-width*2);
		border-left: 12px solid #fff;
		height: $btn-height;

		-webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;

	    cursor:pointer;
		outline: none;
		background: $input-bg;	

		option{
			padding: 5px 15px;
		}	
	}
}

/* jquery ui selectmenu */

.ui-selectmenu-button{
	display: block;
	width: 100% !important;
	position: relative;

	height: @input-height;

	background-color: @input-bg;
	border: 1px solid @input-border;
	color: #46606c;

	outline: none;
	text-align: left;
}
.ui-selectmenu-text,.ui-menu-item{
	display: block;
	width: 100%;
	padding: 0 12px;

	font-family: @font;
	.regular();
	font-size: 18px;
	line-height: @input-height - (@btn-border-width * 2);
	
	cursor: pointer;
	background-color: @input-bg;
}
.ui-menu-item{
	border-bottom: 1px solid @input-border;
	padding: 10px 12px;
	
	font-size: 14px;
	line-height: 16px;

	cursor: pointer;
	width: 100%;

	.animate(200);

	&.ui-state-focus{
		background-color: darken(@input-bg, 5%);
	}
}

.ui-selectmenu-menu {
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
.ui-front {
    z-index: 100;
}
.ui-menu {
    display: block;
    margin: 0;
    outline: 0 none;
    padding: 0;

    margin-top: -@btn-border-width;
	border: 1px solid @input-border;
}
.ui-resizable-autohide .ui-resizable-handle, 
.ui-resizable-disabled .ui-resizable-handle, 
.ui-selectmenu-menu{display: none;}

.ui-selectmenu-open{display: block;}

.ui-selectmenu-button span.ui-icon{
	display: block;
	height: @input-height;
	height: @input-height;
	
	position: absolute;
	top: 0;
	right: 0;

	cursor: pointer;
	background: @input-bg;
	
	&:before{
		display:block;
		content: "";
		position: absolute;
		top: 50%;
		right: 15px;

		z-index: 10;
		margin-top: -4px;
		.icon.icon-select-arrow;
		.animate();
	}
}
.ui-selectmenu-button.ui-corner-top span.ui-icon:before{
	.rotate(180deg);
}

