
/*************************************************************************************
*  STYLED SELECT
**************************************************************************************/
$selectLiLineHeight:			30px;

.select {
	position: relative;
	margin-bottom: $input-bottom-margin;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	ul {
		cursor: pointer;
		@include reset-ul();
		position: relative;
		height: $input-height;

		@include border-radius(28px);
		border: 1px solid $color-border;

		li {
			padding: 10px 27px;
			line-height: 22px;
			font-size: 18px;
			color: $color-base;

			&:first-child{
				padding-right:35px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding: 15px 27px;
			}
		}

		&:before{
			display: block;
			content: "";

			position: absolute;
			right: 22px;
			top: 22px;
			@include animate(transform);
			@include sprite(arrow-top);
		}
	}

	&.open {
		height: $input-height;
		z-index: 300 !important;
		
		ul {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			min-width: 100%;

			height: auto;
			overflow: auto;
			@include box-shadow(0 3px 16px rgba(0, 0, 0, 0.15));

			li {
				border-top: $input-border-width solid $input-border;
				background: $color-white;
				color: $color-base;
				@include animate(font-weight);

				&:hover{
					color: $color-primary;
				}

				&.selected {
					color: #c5c5c5;

					&:hover{
						color: #c5c5c5;
					}
				}

				&:first-child {
					border: 0;
					white-space: normal;
					text-overflow: normal;
				}
			}

			&:before{
				@include rotate(180);
				@include sprite(arrow-top);
			}
		}
	}

	&--secondary{
		margin-bottom: 0;
		
		ul{
			border: 2px solid $color-white;

			li{
				color: $color-white;
			}

			&:before{
				@include sprite(arrow-down);
			}
		}

		&.open {
			ul li{
				border-top: 0;
			}
		}
	}
}