@mixin datepicker-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover {
    color: $body-color;
    text-decoration: none;
  }
}

.ui-datepicker {
  display: none;
  width: 342px;
  padding: 0 map-get($spacers, 2) map-get($spacers, 2);

  box-shadow: $box-shadow-lg;
  background: $body-bg;

  .ui-datepicker-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 (map-get($spacers, 2) * -1) map-get($spacers, 2);
    padding: map-get($spacers, 1);

    text-align: center;
    background: $light;

    .ui-datepicker-next,
    .ui-datepicker-prev {
      @include datepicker-btn();
      @include button-outline-variant($dark);

      text-indent: -9999px;
      border: 0;

      span {
        display: block;
        width: 0;
        height: 0;

        border-style: solid;
        border-width: 0.25em 0.5em 0.25em 0;
        border-color: transparent currentColor transparent transparent;
      }
    }

    .ui-datepicker-prev {
      order: -1;
    }

    .ui-datepicker-next {
      order: 2;

      span {
        transform: rotate(180deg);
      }
    }

    .ui-datepicker-title {
      @extend .h5;
      margin-bottom: 0;
    }
  }

  .ui-datepicker-calendar {
    width: 100%;
    text-align: center;

    thead {
      tr {
        th {
          @extend .h6;
          margin-bottom: 0;
          padding-bottom: map-get($spacers, 1);

          text-transform: uppercase;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 2px;
          vertical-align: middle;

          a,
          span {
            @include datepicker-btn();

            padding: map-get($spacers, 1);
            width: 100%;

            &.ui-state-active {
              background: $dark;
              color: $white;
            }
          }

          a {
            @include button-outline-variant($dark);
          }

          span {
            color: $text-muted;
            border-color: $light;
            pointer-events: none;
          }

          /*
          &.ui-datepicker-other-month {
            a,
            span {
              border-color: $text-muted;
              color: $text-muted;
              border-color: $text-muted;
            }
          }

          &.ui-datepicker-week-end {
            a,
            span {
              color: $text-muted;
              border-color: $light;
              pointer-events: none;
            }
          }

          &.highlight {
            a {
              background: $link-color;
              color: #fff;
            }
					}
					*/

          &.ui-datepicker-today {
            a:not(:hover),
            span {
              background: $light;
            }
          }
        }
      }
    }
  }
}
