// ************************************************ //
// VARIABLES 
// ************************************************ //


// ************ Paths ***************** //
$path-font:						"../fonts";
$path-css-images: 				"../images/backgrounds";



// ************ Layout ***************** //
$width-layout: 					940px;
$padding-layout:				20px;


// ************ Grid system ***************** //
$column-gap: 					20px;
$columns-count: 				12;			



// ************ Fonts ***************** //
// import z google fonts
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);

$font-base: 					Arial, Helvetica, sans-serif;
$line-height:					1.25; //spocitat z defaultniho pisma


// ************ Colors ***************** //
//vsechny tyto barvy by mely byt v kazdem projektu
$color-danger:          		#e30613;
$color-light:            		#b3b3b3;
$color-dark:            		#1d1d1b;
$color-success:					green;
$color-warning:					orange;
$color-info:					lightblue;
$color-secondary:				brown;
$color-primary:					blue;

// zakladni barva pisma pro cely web
$color-base: 					black;

// základní barva odkazů
$color-link: 					$color-primary;
$color-link-hover: 				$color-secondary;

// ostatní barvy
$color-border:					#cccccc;


// ************ Radius ***************** //
$radius: 						5px;
$radius-big: 					$radius * 2;



// ************ Buttons ***************** //
$button-padding-x:				25px;
$button-padding-y:				5px;
$button-height: 				40px;
$button-height-sm: 				30px;
$button-height-lg: 				50px;

$button-border-width: 			1px;



// ************ Inputs ***************** //
$input-height: 					$button-height; // vetisnou input je velky jako button

$input-border-width: 			$button-border-width;
$input-bg: 						white;
$input-border: 					$color-border;


// ************ Transitions & animations ***************** //
$transition-function:			ease;
$transition-duration: 			150ms;



// ************ Responsive points ***************** //
// zakladni velikosti řešené u rozlišení u responsivniho designu - NEMENIT!!
$query-xs:						360 - 1;
$query-s:						480 - 1;
$query-m:						640 - 1;
$query-l:						768 - 1;
$query-xl:						1024 - 1;
$query-last:					$width-layout + $padding-layout*2 - 1;

/*
// ************ Devices ***************** //
$tablet:						$query-l;
$mobile:						$query-s;
*/