// ************************************************************************************
// MIXINS 
// ************************************************************************************
@mixin align($direction:both, $position:0){
    position: absolute;

    @if $direction == both{
        left: $position;
        right: $position;
        margin: auto;
        bottom: $position;
        top: $position;
    }

    @if $direction == horizontal{
        left: $position;
        right: $position;
        margin-right: auto;
        margin-left: auto;
    }

    @if $direction == vertical {
        top: $position;
        bottom: $position;
        margin-top: auto;
        margin-bottom: auto;
    }
}


//grid
@mixin grid($gap:$column-gap) {
    $gap:remove-units($gap) * 1px;
    margin: -$gap (-$gap/2) 0;
    font-size: 0;
    clear: both;

    &__item{
        display: inline-block;
        vertical-align: top;
        padding: $gap $gap/2 0;
        font-size: $font-size;
    }
}

//mixin pro pocitani sirky elementu
@mixin percentage-width($width, $container-width:$width-layout){
    width: percentage(remove-units($width)/remove-units($container-width));
}


// roztahnout obrazek na celou vysku / sirku a vycentrovat
@mixin cover-image(){
    display: block;
    @include align(both, -100%);

    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

// roztahnout video na celou vysku / sirku a vycentrovat
@mixin cover-video(){
    @include cover-image();

    @include cover();
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin box-sizing($sizing) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    -ms-box-sizing: $sizing; 
    box-sizing: $sizing;
}

// Zápis width a height - obdélník
@mixin size($width, $height:$width) {
    width: remove-units($width)+px;
    height: remove-units($height)+px;
}

//odstrani jednotky (px, rem atd) a necha pouze cislo
@function remove-units($number) {
  @return $number / ($number * 0 + 1);
}

// styly pro webkit prohlizece
@mixin webkit{ // css rules for webkit (chrome and safari)
    @media screen and (-webkit-min-device-pixel-ratio:0) { @content }
}

// letter spacing
@mixin ls($value) {
  letter-spacing: $value/1000+em;
}

//prepocet media queries z px do em jednotek
@function px-to-em-query($value){
    $value: $value / ($value * 0 + 1);//remove any units after number
    @return ($value/16)*1em;
}

//responsive
@mixin query($value, $type:max){
    @if $type == "min"{
        $value:$value+1;
    }
    @if $value == $tablet{
        @media screen and (#{$type}-width: px-to-em-query($value) ), (orientation:landscape) and (max-width:px-to-em-query($tablet)){
            @content
        }
    }@else if $value == $mobile{
        @media screen and (#{$type}-width: px-to-em-query($value) ) and (orientation:portrait){
            @content
        }
    }@else{
        @media screen and (#{$type}-width: px-to-em-query($value) ){
            @content
        }
    }
}

//responsive between
@mixin query-between($max:0, $min:0){
    @media screen and (max-width: px-to-em-query($max)) and (min-width: px-to-em-query($min+1)){
        @content
    }
}

// Clearfix
@mixin cfx() {
    &:after {
        content:"";
        display:table;
        clear:both;
    }
}


// Nastavení background image, cesta do design se nastavuje sama, dále pozice a repeat, default hodnoty nastaveny
@mixin background($background-url: none, $background-position: 0 0, $background-repeat: no-repeat) {
    background-image: url('#{$path-css-images}/#{$background-url}');
    background-repeat: $background-repeat;
    background-position: $background-position;
}


// Skrytí scrollbaru ve všech prohlížečích
@mixin scrollbar-hide() {
    overflow: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
        display: none;
    }
}


// Nastavuje výšku řádku a počet řádků, kolik si element bude udržovat a kde text usekne
//prvni hodnota = pocet radku
//druha hodnota = line-height v px
//treti hodnota = font-size, pokud je jiny nez ktery je globalni
@mixin eliminate-lines($count-line, $height-line:default, $font-size:$font-size) {
    display: block;
    overflow: hidden;

    @if $height-line == default{//pokud je to defaultni
        height: remove-units($line-height) * remove-units($count-line) +em;
        line-height: remove-units($line-height) +em;
    }@else{//pokud ne pocitej
        height: remove-units($height-line/$font-size) * remove-units($count-line) +em;
        line-height: remove-units($height-line/$font-size) +em;
    }
}

//omezit na jeden radek
@mixin text-overflow(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

