// ************************************************************************************
/*
	zde vkladame font-face pravidla pro externi fonty
*/
// ************************************************************************************

/*
------------------------------------
| 100 	| Thin (Hairline)			|
------------------------------------
| 200 	| Extra Light (Ultra Light)	|
------------------------------------
| 300 	| Light						|
------------------------------------
| 400 	| Normal					|
------------------------------------
| 500 	| Medium					|
------------------------------------
| 600 	| Semi Bold (Demi Bold)		|
------------------------------------
| 700 	| Bold						|
------------------------------------
| 800 	| Extra Bold (Ultra Bold)	|
------------------------------------
| 900 	| Black (Heavy)				|
------------------------------------
*/
/*
//fonts mixin
@mixin font($font-family:sans, $font-variant:regular){

	@if $font-family == roman{
		font-family: "Roman", $font-base;

		@if $font-variant == regular{
			font-weight: 400;
		} 

		@else if $font-variant == bold{
			font-weight: 600;
		} 

		@else{
			@warn "No such font-VARIANT specified";
		}
	} 

	@else if $font-family == sans{
		font-family: "Open sans", $font-base;

		@if $font-variant == regular{
			font-weight: 400;
		} 

		@else if $font-variant == bold{
			font-weight: 600;
		} 

		@else{
			@warn "No such font-VARIANT specified";
		}
	} 

	@else{
		@warn "No such font-FAMILY specified";
	}
}
//volani je potom nasledujici @include font(roman/sans, regular/bold/semibold);
*/
/*
pokud je na webu pouze jeden font zjednodusit funkci takto
@mixin font($font-variant:regular){
	font-family: "Roman", $font-base;

	@if $font-variant == regular{
		font-weight: 400;
	} 

	@else if $font-variant == bold{
		font-weight: 600;
	} 

	@else{
		@warn "No such font-VARIANT specified";
	}
}
volani je potom nasledujici @include font(regular/bold/semibold);
*/