/*-----------------------------------------------------------------------------------*/
/*  All font-sizes / font-weghts / font-families / etc
/*-----------------------------------------------------------------------------------*/
//vsechny tridy obsazene v teto sekci jsou pouze vzorove, je potreba je udelat podle grafiky
@mixin font-weight-medium{
    font-weight: 500;
}

@mixin font-weight-light{
    font-weight: 300;
}

@mixin font-weight-regular{
    font-weight: 400;
}

@mixin font-family-avenir{
    font-family: Avenir, sans-serif;
}

@mixin font-family-arbutus{
    font-family: 'Arbutus Slab', serif;
}

@mixin font-size-100{
    font-size: 100px;

    @include query( $query-xl ){
        font-size: 80px;
    }

    @include query( $query-l ){
        font-size: 60px;
    }

    @include query( $query-m ){
        font-size: 40px;
    }

    @include query( $query-s ){
        font-size: 30px;
    }
}

//tento priklad font-size-60 lze napsat jeste lepe viz ukazka hned pod tim
@mixin font-size-60{
    font-size: 60px;
    line-height: 70px;

    @include query( $query-xl ){
        font-size: 50px;
        line-height: 60px;
    }

    @include query( $query-l ){
        font-size: 40px;
        line-height: 50px;
    }

    @include query( $query-m ){
        font-size: 30px;
        line-height: 40px;
    }

    @include query( $query-s ){
        font-size: 20px;
        line-height: 30px;
    }
}

//v tomto pripade jsme vzypocitali line-height v EM jednotkach a jiz tento line-height nemusime zmensovat = zmensuje se sam
@mixin font-size-60{
    font-size: 60px;
    line-height: 70 / 60 * 1em;;

    @include query( $query-xl ){
        font-size: 50px;
    }

    @include query( $query-l ){
        font-size: 40px;
    }

    @include query( $query-m ){
        font-size: 30px;
    }

    @include query( $query-s ){
        font-size: 20px;
    }
}

@mixin font-size-36{
    font-size: 36px;
}

@mixin font-size-30{
    font-size: 30px;
}

@mixin font-size-24{
    font-size: 24px;
}

@mixin font-size-18{
    font-size: 18px;
}

@mixin font-size-16{
    font-size: 16px;
}


/*-----------------------------------------------------------------------------------*/
/*  TYPOGRAPHY
/*-----------------------------------------------------------------------------------*/
body{
    font-size:      16px;
    color:          $color-base;
    line-height:    $line-height;
    
    font-family:    $font-base;
    font-weight:    400;//vychozi sirka pisma
    
    /*
    //toto nechat zakomentovane
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */

    background-color: $bg;

    &.overflow, &.test-overflow{
        height: 100%;
        overflow: hidden;
    }
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
    font-weight: inherit;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
}

.h1, .h2, .h3, .h4, .h5, .h6{
    display: block;
}

h1,.h1 {}

h2,.h2 {}

h3,.h3 {}

h4,.h4 {}

h5,.h5 {}

h6,.h6 {}


strong,.bold,b{}
.semibold{}
.italic,em{}


/*-----------------------------------------------------------------------------------*/
/*  LINKS
/*-----------------------------------------------------------------------------------*/
a {
    text-decoration: underline;
    color: $color-link;
    cursor: pointer;
    outline: none;

    transition-duration: 200ms;
    transition-property: color;

    &:hover {
        text-decoration: none;
        color: $color-link-hover;
    }
}


.no-link-styles{
    color: inherit;
    text-decoration: none;
}