/*-----------------------------------------------------------------------------------*/
/*  RESPONSIVE TABLE
/*-----------------------------------------------------------------------------------*/
// nastaveni TD a TH

.table-responsive {
    width: 100%;
    display: block;

    thead {
        display: none;
        visibility: hidden;
    }

    tbody, tfoot, tr, th, td {
        display: block;
    }

    td, th {
        margin: 0 0 10px;
    }

    tr {
        padding: 10px;
    }


    td:empty {
        display: none;
    }

    &--with-labels {
        th[data-title]:before,
        td[data-title]:before {
            content: attr(data-title) ":\00A0";
            display: block;
            width: 100%;

            font-weight: normal;
            font-weight: bold;
        }
    }
}

@media $query-md {

    table.table-responsive {
        display: table;

        tbody {
            display: table-row-group;
        }

        thead {
            display: table-header-group;
            visibility: visible;
        }

        tfoot {
            display: table-footer-group;
        }

        td, th {
            display: table-cell;
        }

        tr {
            display: table-row;
        }

        td:empty {
            display: table-cell;
        }

        &--with-labels {
            th[data-title]:before,
            td[data-title]:before {
                display: none;
            }
        }
    }
}


.table-responsive-box {
    width: 100%;
    overflow: auto;

    &__inner {
        min-width: $width-content;
    }
}

@media $query-md {
    .table-responsive-box {
        width: auto;
        overflow: auto;

        &__inner {
            min-width: 0;
        }
    }
}