.footer{
	position: relative;
	padding: 35px 0;
	font-size: 14px;
	line-height: 22px;
	
	&__content{
		padding-right: 200px;
	}

	&__contacts{
		@include reset-ul();
		font-size: 0;

		li{
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			line-height: 22px;
			border-left: 1px solid $color-base;
			padding: 0 10px;

			strong{
				display: inline-block;
				vertical-align: top;
			}

			a{
				display: inline-block;

				&:hover{
					color: $color-primary;
				}
			}

			&:first-child{
				border-left: 0;
				padding-left: 0;
			}
		}
	}

	&__social{
		@include reset-ul();
		position: absolute;
		right: 0;
		top: -15px;
		font-size: 0;

		li{
			display: inline-block;
			vertical-align: top;

			a{
				display: block;
				padding: 15px 3px;
				@include animate(transform);

				&:hover{
					@include scale(1.08);

					.icon__twitter{
						@include sprite(twitter-hover, nobg);
					}

					.icon__fb{
						@include sprite(fb-hover, nobg);
					}

					.icon__skype{
						@include sprite(skype-hover, nobg);
					}

					.icon__ins{
						@include sprite(ins-hover, nobg);
					}

					.icon__goog{
						@include sprite(goog-hover, nobg);
					}
				}
			}
		}
	}
}