@charset "UTF-8";
/*! 
==============================================================
  ___     _             ___         
 / / |__ | |_ _ __ ___ | \ \        
/ /| '_ \| __| '_ ` _ \| |\ \       
\ \| | | | |_| | | | | | |/ /       
 \_\_| |_|\__|_| |_| |_|_/_/        
    _____          _                      
   |  ___|_ _  ___| |_ ___  _ __ _   _ 
   | |_ / _` |/ __|  _/ _ \| '__| | | |
   |  _| (_| | (__| |_ (_) | |  | |_| |
   |_|  \__,_|\___|\__\___/|_|   \__, |
                                  __/ |
                                 |___/

Project  	: test
Author  	: Vitalij Petras
Author URI	: www.html-factory.cz
Created 	: 17.09.2016

============================================================== 
*/
/*
pokud je na webu pouze jeden font zjednodusit funkci takto
@mixin font($font-variant:regular){
	font-family: "Roman", $font-base;

	@if $font-variant == regular{
		font-weight: 400;
	} 

	@else if $font-variant == bold{
		font-weight: 600;
	} 

	@else{
		@warn "No such font-VARIANT specified";
	}
}
volani je potom nasledujici @include font(regular/bold/semibold);
*/
/*-----------------------------------------------------------------------------------*/
/*  CSS reset
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main, time {
  display: block;
}

body {
  line-height: 1;
}

html, body {
  width: 100%;
  height: 100%;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, button {
  outline: none;
}

a[href] img {
  cursor: pointer;
}

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Prevents modern browsers from displaying 'audio' without controls */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/*
 *  Prevents iOS text size adjust after orientation change, without disabling user zoom
 *  www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Improves readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*
 *    Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) {
  overflow: hidden;
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
  padding: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Corrects inner spacing displayed oddly in IE7 without effecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/* checkboxy v defaultni verzi se nezobrazuji v chromu a safari  - nasledujici fix to opravi */
input[type=checkbox] {
  -webkit-appearance: checkbox;
}

input[type=radio] {
  -webkit-appearance: radio;
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof) (zakomentováno kvůli přepisování nastavení BEM)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}

/* Removes inner padding and search cancel button in S5, Chrome on OS X */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: vertical;
  /* TK */
}

hr {
  height: 1px;
  border: 0;
}

.print-only {
  display: none !important;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.oldie.ie7 * {
  behavior: url(./js/ie-fallbacks/boxsizing.htc);
}

/*-----------------------------------------------------------------------------------*/
/*  TYPOGRAPHY
/*-----------------------------------------------------------------------------------*/
body {
  color: #000;
  line-height: 1.25;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  text-rendering: optimizelegibility;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
}

/*-----------------------------------------------------------------------------------*/
/*  LINKS
/*-----------------------------------------------------------------------------------*/
a {
  text-decoration: underline;
  color: #365fd6;
  cursor: pointer;
  outline: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
a:hover {
  text-decoration: none;
  color: #30a24e;
}

.no-link-styles {
  color: inherit;
  text-decoration: none;
}

.no-js .lazyload {
  display: none;
}

img[data-src], img[data-lazy] {
  visibility: hidden;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

/*-----------------------------------------------------------------------------------*/
/*  BUTTONS
/*-----------------------------------------------------------------------------------*/
.button {
  width: auto;
  padding: 0 28px;
  height: 30px;
  line-height: 28px;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #cccccc;
  color: #000;
  background: #fff;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.button:hover {
  border-color: #b3b3b3;
  color: #000;
  background: #d9d9d9;
}

/*
	varianty bez nutnosti psát ke každému inputu v html třídu
	--- jinak je možno přidat třídy jako .input-field pro specifické inputy a BEM bude fungovat skvěle
*/
.input {
  height: 30px;
  padding: 0 15px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  background: #fff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.input:focus {
  background: #f2f2f2;
  border-color: #bfbfbf;
}

textarea {
  height: 90px;
  padding: 5px 15px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  background: #fff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
textarea:focus {
  background: #f2f2f2;
  border-color: #bfbfbf;
}

select {
  height: 30px;
  width: 100%;
  padding: 5px 15px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  background: #fff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.input-radio {
  background-color: transparent;
  border: 0px;
}

.input-checkbox {
  padding: 1px;
  height: 13px;
  width: 13px;
  border: 0px;
  background: none;
  vertical-align: middle;
}

.label {
  display: block;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: right;
}

/*-----------------------------------------------------------------------------------*/
/*  FORMS BASIC SETTINGS
/*-----------------------------------------------------------------------------------*/
input, select, textarea {
  vertical-align: middle;
}
input:focus, select:focus, textarea:focus {
  outline: none;
}
input:focus:-moz-placeholder, select:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder, select:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}
input:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder {
  opacity: 1;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}

body {
  background-color: #fff;
}
body.overflow {
  height: 100%;
  overflow: hidden;
}

.container, .menu, .list-items, .columns {
  *zoom: 1;
}
.container:after, .menu:after, .list-items:after, .columns:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 940px;
}
@media screen and (max-width: 61.1875em) {
  .container {
    width: auto;
    padding: 0 20px;
  }
}

.logo {
  display: block;
  float: left;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu__item {
  float: left;
}
.menu__item__in {
  display: block;
}

.list-items {
  margin: -20px;
  display: block;
}
.list-items__item {
  float: left;
  padding: 0 10px 10px 10px;
  width: 25%;
  font-size: 16px;
  text-align: center;
}
.list-items__item__in {
  display: block;
  padding: 10px;
  position: relative;
  text-decoration: none;
}
.list-items__item__title {
  font-size: 16px;
  font-weight: normal;
  color: #365fd6;
  text-decoration: underline;
}
.list-items__item__in:hover .list-items__item__title {
  text-decoration: none;
}
.list-items__item__price {
  color: #000;
}

/*************************************************************************************
*  columns
**************************************************************************************/
.columns {
  margin: -20px -10px 0;
}
.columns__item {
  float: left;
  padding: 20px 10px 0;
}
.columns__item--right {
  float: right;
}

.columns__item--1 {
  width: 1%;
}
.columns__item--2 {
  width: 2%;
}
.columns__item--3 {
  width: 3%;
}
.columns__item--4 {
  width: 4%;
}
.columns__item--5 {
  width: 5%;
}
.columns__item--6 {
  width: 6%;
}
.columns__item--7 {
  width: 7.0%;
}
.columns__item--8 {
  width: 8%;
}
.columns__item--9 {
  width: 9%;
}
.columns__item--10 {
  width: 10%;
}
.columns__item--11 {
  width: 11%;
}
.columns__item--12 {
  width: 12%;
}
.columns__item--13 {
  width: 13%;
}
.columns__item--14 {
  width: 14.0%;
}
.columns__item--15 {
  width: 15%;
}
.columns__item--16 {
  width: 16%;
}
.columns__item--17 {
  width: 17%;
}
.columns__item--18 {
  width: 18%;
}
.columns__item--19 {
  width: 19%;
}
.columns__item--20 {
  width: 20%;
}
.columns__item--21 {
  width: 21%;
}
.columns__item--22 {
  width: 22%;
}
.columns__item--23 {
  width: 23%;
}
.columns__item--24 {
  width: 24%;
}
.columns__item--25 {
  width: 25%;
}
.columns__item--26 {
  width: 26%;
}
.columns__item--27 {
  width: 27%;
}
.columns__item--28 {
  width: 28.0%;
}
.columns__item--29 {
  width: 29.0%;
}
.columns__item--30 {
  width: 30%;
}
.columns__item--31 {
  width: 31%;
}
.columns__item--32 {
  width: 32%;
}
.columns__item--33 {
  width: 33%;
}
.columns__item--33-5 {
  width: 33.33333%;
}
.columns__item--34 {
  width: 34%;
}
.columns__item--35 {
  width: 35%;
}
.columns__item--36 {
  width: 36%;
}
.columns__item--37 {
  width: 37%;
}
.columns__item--38 {
  width: 38%;
}
.columns__item--39 {
  width: 39%;
}
.columns__item--40 {
  width: 40%;
}
.columns__item--41 {
  width: 41%;
}
.columns__item--42 {
  width: 42%;
}
.columns__item--43 {
  width: 43%;
}
.columns__item--44 {
  width: 44%;
}
.columns__item--45 {
  width: 45%;
}
.columns__item--46 {
  width: 46%;
}
.columns__item--47 {
  width: 47%;
}
.columns__item--48 {
  width: 48%;
}
.columns__item--49 {
  width: 49%;
}
.columns__item--50 {
  width: 50%;
}
.columns__item--51 {
  width: 51%;
}
.columns__item--52 {
  width: 52%;
}
.columns__item--53 {
  width: 53%;
}
.columns__item--54 {
  width: 54%;
}
.columns__item--55 {
  width: 55.0%;
}
.columns__item--56 {
  width: 56.0%;
}
.columns__item--57 {
  width: 57.0%;
}
.columns__item--58 {
  width: 58.0%;
}
.columns__item--59 {
  width: 59%;
}
.columns__item--60 {
  width: 60%;
}
.columns__item--61 {
  width: 61%;
}
.columns__item--62 {
  width: 62%;
}
.columns__item--63 {
  width: 63%;
}
.columns__item--64 {
  width: 64%;
}
.columns__item--65 {
  width: 65%;
}
.columns__item--66 {
  width: 66%;
}
.columns__item--67 {
  width: 67%;
}
.columns__item--68 {
  width: 68%;
}
.columns__item--69 {
  width: 69%;
}
.columns__item--70 {
  width: 70%;
}
.columns__item--71 {
  width: 71%;
}
.columns__item--72 {
  width: 72%;
}
.columns__item--73 {
  width: 73%;
}
.columns__item--74 {
  width: 74%;
}
.columns__item--75 {
  width: 75%;
}
.columns__item--76 {
  width: 76%;
}
.columns__item--77 {
  width: 77%;
}
.columns__item--78 {
  width: 78%;
}
.columns__item--79 {
  width: 79%;
}
.columns__item--80 {
  width: 80%;
}
.columns__item--81 {
  width: 81%;
}
.columns__item--82 {
  width: 82%;
}
.columns__item--83 {
  width: 83%;
}
.columns__item--84 {
  width: 84%;
}
.columns__item--85 {
  width: 85%;
}
.columns__item--86 {
  width: 86%;
}
.columns__item--87 {
  width: 87%;
}
.columns__item--88 {
  width: 88%;
}
.columns__item--89 {
  width: 89%;
}
.columns__item--90 {
  width: 90%;
}
.columns__item--91 {
  width: 91%;
}
.columns__item--92 {
  width: 92%;
}
.columns__item--93 {
  width: 93%;
}
.columns__item--94 {
  width: 94%;
}
.columns__item--95 {
  width: 95%;
}
.columns__item--96 {
  width: 96%;
}
.columns__item--97 {
  width: 97%;
}
.columns__item--98 {
  width: 98%;
}
.columns__item--99 {
  width: 99%;
}
.columns__item--100 {
  width: 100%;
}
@media screen and (max-width: 49.9375em) {
  .columns__item--tab-1 {
    width: 1%;
  }
  .columns__item--tab-2 {
    width: 2%;
  }
  .columns__item--tab-3 {
    width: 3%;
  }
  .columns__item--tab-4 {
    width: 4%;
  }
  .columns__item--tab-5 {
    width: 5%;
  }
  .columns__item--tab-6 {
    width: 6%;
  }
  .columns__item--tab-7 {
    width: 7.0%;
  }
  .columns__item--tab-8 {
    width: 8%;
  }
  .columns__item--tab-9 {
    width: 9%;
  }
  .columns__item--tab-10 {
    width: 10%;
  }
  .columns__item--tab-11 {
    width: 11%;
  }
  .columns__item--tab-12 {
    width: 12%;
  }
  .columns__item--tab-13 {
    width: 13%;
  }
  .columns__item--tab-14 {
    width: 14.0%;
  }
  .columns__item--tab-15 {
    width: 15%;
  }
  .columns__item--tab-16 {
    width: 16%;
  }
  .columns__item--tab-17 {
    width: 17%;
  }
  .columns__item--tab-18 {
    width: 18%;
  }
  .columns__item--tab-19 {
    width: 19%;
  }
  .columns__item--tab-20 {
    width: 20%;
  }
  .columns__item--tab-21 {
    width: 21%;
  }
  .columns__item--tab-22 {
    width: 22%;
  }
  .columns__item--tab-23 {
    width: 23%;
  }
  .columns__item--tab-24 {
    width: 24%;
  }
  .columns__item--tab-25 {
    width: 25%;
  }
  .columns__item--tab-26 {
    width: 26%;
  }
  .columns__item--tab-27 {
    width: 27%;
  }
  .columns__item--tab-28 {
    width: 28.0%;
  }
  .columns__item--tab-29 {
    width: 29.0%;
  }
  .columns__item--tab-30 {
    width: 30%;
  }
  .columns__item--tab-31 {
    width: 31%;
  }
  .columns__item--tab-32 {
    width: 32%;
  }
  .columns__item--tab-33 {
    width: 33%;
  }
  .columns__item--tab-34 {
    width: 34%;
  }
  .columns__item--tab-35 {
    width: 35%;
  }
  .columns__item--tab-36 {
    width: 36%;
  }
  .columns__item--tab-37 {
    width: 37%;
  }
  .columns__item--tab-38 {
    width: 38%;
  }
  .columns__item--tab-39 {
    width: 39%;
  }
  .columns__item--tab-40 {
    width: 40%;
  }
  .columns__item--tab-41 {
    width: 41%;
  }
  .columns__item--tab-42 {
    width: 42%;
  }
  .columns__item--tab-43 {
    width: 43%;
  }
  .columns__item--tab-44 {
    width: 44%;
  }
  .columns__item--tab-45 {
    width: 45%;
  }
  .columns__item--tab-46 {
    width: 46%;
  }
  .columns__item--tab-47 {
    width: 47%;
  }
  .columns__item--tab-48 {
    width: 48%;
  }
  .columns__item--tab-49 {
    width: 49%;
  }
  .columns__item--tab-50 {
    width: 50%;
  }
  .columns__item--tab-51 {
    width: 51%;
  }
  .columns__item--tab-52 {
    width: 52%;
  }
  .columns__item--tab-53 {
    width: 53%;
  }
  .columns__item--tab-54 {
    width: 54%;
  }
  .columns__item--tab-55 {
    width: 55.0%;
  }
  .columns__item--tab-56 {
    width: 56.0%;
  }
  .columns__item--tab-57 {
    width: 57.0%;
  }
  .columns__item--tab-58 {
    width: 58.0%;
  }
  .columns__item--tab-59 {
    width: 59%;
  }
  .columns__item--tab-60 {
    width: 60%;
  }
  .columns__item--tab-61 {
    width: 61%;
  }
  .columns__item--tab-62 {
    width: 62%;
  }
  .columns__item--tab-63 {
    width: 63%;
  }
  .columns__item--tab-64 {
    width: 64%;
  }
  .columns__item--tab-65 {
    width: 65%;
  }
  .columns__item--tab-66 {
    width: 66%;
  }
  .columns__item--tab-67 {
    width: 67%;
  }
  .columns__item--tab-68 {
    width: 68%;
  }
  .columns__item--tab-69 {
    width: 69%;
  }
  .columns__item--tab-70 {
    width: 70%;
  }
  .columns__item--tab-71 {
    width: 71%;
  }
  .columns__item--tab-72 {
    width: 72%;
  }
  .columns__item--tab-73 {
    width: 73%;
  }
  .columns__item--tab-74 {
    width: 74%;
  }
  .columns__item--tab-75 {
    width: 75%;
  }
  .columns__item--tab-76 {
    width: 76%;
  }
  .columns__item--tab-77 {
    width: 77%;
  }
  .columns__item--tab-78 {
    width: 78%;
  }
  .columns__item--tab-79 {
    width: 79%;
  }
  .columns__item--tab-80 {
    width: 80%;
  }
  .columns__item--tab-81 {
    width: 81%;
  }
  .columns__item--tab-82 {
    width: 82%;
  }
  .columns__item--tab-83 {
    width: 83%;
  }
  .columns__item--tab-84 {
    width: 84%;
  }
  .columns__item--tab-85 {
    width: 85%;
  }
  .columns__item--tab-86 {
    width: 86%;
  }
  .columns__item--tab-87 {
    width: 87%;
  }
  .columns__item--tab-88 {
    width: 88%;
  }
  .columns__item--tab-89 {
    width: 89%;
  }
  .columns__item--tab-90 {
    width: 90%;
  }
  .columns__item--tab-91 {
    width: 91%;
  }
  .columns__item--tab-92 {
    width: 92%;
  }
  .columns__item--tab-93 {
    width: 93%;
  }
  .columns__item--tab-94 {
    width: 94%;
  }
  .columns__item--tab-95 {
    width: 95%;
  }
  .columns__item--tab-96 {
    width: 96%;
  }
  .columns__item--tab-97 {
    width: 97%;
  }
  .columns__item--tab-98 {
    width: 98%;
  }
  .columns__item--tab-99 {
    width: 99%;
  }
  .columns__item--tab-100 {
    width: 100%;
  }
}
@media screen and (max-width: 29.9375em) {
  .columns__item--mob-1 {
    width: 1%;
  }
  .columns__item--mob-2 {
    width: 2%;
  }
  .columns__item--mob-3 {
    width: 3%;
  }
  .columns__item--mob-4 {
    width: 4%;
  }
  .columns__item--mob-5 {
    width: 5%;
  }
  .columns__item--mob-6 {
    width: 6%;
  }
  .columns__item--mob-7 {
    width: 7.0%;
  }
  .columns__item--mob-8 {
    width: 8%;
  }
  .columns__item--mob-9 {
    width: 9%;
  }
  .columns__item--mob-10 {
    width: 10%;
  }
  .columns__item--mob-11 {
    width: 11%;
  }
  .columns__item--mob-12 {
    width: 12%;
  }
  .columns__item--mob-13 {
    width: 13%;
  }
  .columns__item--mob-14 {
    width: 14.0%;
  }
  .columns__item--mob-15 {
    width: 15%;
  }
  .columns__item--mob-16 {
    width: 16%;
  }
  .columns__item--mob-17 {
    width: 17%;
  }
  .columns__item--mob-18 {
    width: 18%;
  }
  .columns__item--mob-19 {
    width: 19%;
  }
  .columns__item--mob-20 {
    width: 20%;
  }
  .columns__item--mob-21 {
    width: 21%;
  }
  .columns__item--mob-22 {
    width: 22%;
  }
  .columns__item--mob-23 {
    width: 23%;
  }
  .columns__item--mob-24 {
    width: 24%;
  }
  .columns__item--mob-25 {
    width: 25%;
  }
  .columns__item--mob-26 {
    width: 26%;
  }
  .columns__item--mob-27 {
    width: 27%;
  }
  .columns__item--mob-28 {
    width: 28.0%;
  }
  .columns__item--mob-29 {
    width: 29.0%;
  }
  .columns__item--mob-30 {
    width: 30%;
  }
  .columns__item--mob-31 {
    width: 31%;
  }
  .columns__item--mob-32 {
    width: 32%;
  }
  .columns__item--mob-33 {
    width: 33%;
  }
  .columns__item--mob-34 {
    width: 34%;
  }
  .columns__item--mob-35 {
    width: 35%;
  }
  .columns__item--mob-36 {
    width: 36%;
  }
  .columns__item--mob-37 {
    width: 37%;
  }
  .columns__item--mob-38 {
    width: 38%;
  }
  .columns__item--mob-39 {
    width: 39%;
  }
  .columns__item--mob-40 {
    width: 40%;
  }
  .columns__item--mob-41 {
    width: 41%;
  }
  .columns__item--mob-42 {
    width: 42%;
  }
  .columns__item--mob-43 {
    width: 43%;
  }
  .columns__item--mob-44 {
    width: 44%;
  }
  .columns__item--mob-45 {
    width: 45%;
  }
  .columns__item--mob-46 {
    width: 46%;
  }
  .columns__item--mob-47 {
    width: 47%;
  }
  .columns__item--mob-48 {
    width: 48%;
  }
  .columns__item--mob-49 {
    width: 49%;
  }
  .columns__item--mob-50 {
    width: 50%;
  }
  .columns__item--mob-51 {
    width: 51%;
  }
  .columns__item--mob-52 {
    width: 52%;
  }
  .columns__item--mob-53 {
    width: 53%;
  }
  .columns__item--mob-54 {
    width: 54%;
  }
  .columns__item--mob-55 {
    width: 55.0%;
  }
  .columns__item--mob-56 {
    width: 56.0%;
  }
  .columns__item--mob-57 {
    width: 57.0%;
  }
  .columns__item--mob-58 {
    width: 58.0%;
  }
  .columns__item--mob-59 {
    width: 59%;
  }
  .columns__item--mob-60 {
    width: 60%;
  }
  .columns__item--mob-61 {
    width: 61%;
  }
  .columns__item--mob-62 {
    width: 62%;
  }
  .columns__item--mob-63 {
    width: 63%;
  }
  .columns__item--mob-64 {
    width: 64%;
  }
  .columns__item--mob-65 {
    width: 65%;
  }
  .columns__item--mob-66 {
    width: 66%;
  }
  .columns__item--mob-67 {
    width: 67%;
  }
  .columns__item--mob-68 {
    width: 68%;
  }
  .columns__item--mob-69 {
    width: 69%;
  }
  .columns__item--mob-70 {
    width: 70%;
  }
  .columns__item--mob-71 {
    width: 71%;
  }
  .columns__item--mob-72 {
    width: 72%;
  }
  .columns__item--mob-73 {
    width: 73%;
  }
  .columns__item--mob-74 {
    width: 74%;
  }
  .columns__item--mob-75 {
    width: 75%;
  }
  .columns__item--mob-76 {
    width: 76%;
  }
  .columns__item--mob-77 {
    width: 77%;
  }
  .columns__item--mob-78 {
    width: 78%;
  }
  .columns__item--mob-79 {
    width: 79%;
  }
  .columns__item--mob-80 {
    width: 80%;
  }
  .columns__item--mob-81 {
    width: 81%;
  }
  .columns__item--mob-82 {
    width: 82%;
  }
  .columns__item--mob-83 {
    width: 83%;
  }
  .columns__item--mob-84 {
    width: 84%;
  }
  .columns__item--mob-85 {
    width: 85%;
  }
  .columns__item--mob-86 {
    width: 86%;
  }
  .columns__item--mob-87 {
    width: 87%;
  }
  .columns__item--mob-88 {
    width: 88%;
  }
  .columns__item--mob-89 {
    width: 89%;
  }
  .columns__item--mob-90 {
    width: 90%;
  }
  .columns__item--mob-91 {
    width: 91%;
  }
  .columns__item--mob-92 {
    width: 92%;
  }
  .columns__item--mob-93 {
    width: 93%;
  }
  .columns__item--mob-94 {
    width: 94%;
  }
  .columns__item--mob-95 {
    width: 95%;
  }
  .columns__item--mob-96 {
    width: 96%;
  }
  .columns__item--mob-97 {
    width: 97%;
  }
  .columns__item--mob-98 {
    width: 98%;
  }
  .columns__item--mob-99 {
    width: 99%;
  }
  .columns__item--mob-100 {
    width: 100%;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  HELPERS
/*-----------------------------------------------------------------------------------*/
.h-vertical-aligned {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.h-horizontal-aligned {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.h-both-aligned {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  top: 0;
}

.h-table {
  display: table;
  width: 100%;
  vertical-align: middle;
}

.h-cell {
  display: table-cell;
  vertical-align: middle;
}

.h-text-right {
  text-align: right;
}

.h-text-left {
  text-align: left;
}

.h-text-center {
  text-align: center;
}

.h-text-justify {
  text-align: justify;
}

.h-uppercase {
  text-transform: uppercase;
}

.h-text-underline {
  text-decoration: underline;
}

.h-text-no-decoration {
  text-decoration: none;
}

.h-text-strike {
  text-decoration: line-through;
}

.h-text-no-wrap {
  white-space: nowrap;
}

.h-text-wrap {
  word-wrap: break-word;
}

.h-m0 {
  margin: 0px;
}

.h-m5 {
  margin: 5px;
}

.h-m10 {
  margin: 10px;
}

.h-m15 {
  margin: 15px;
}

.h-m20 {
  margin: 20px;
}

.h-m25 {
  margin: 25px;
}

.h-m30 {
  margin: 30px;
}

.h-m35 {
  margin: 35px;
}

.h-m40 {
  margin: 40px;
}

.h-m45 {
  margin: 45px;
}

.h-m50 {
  margin: 50px;
}

.h-m55 {
  margin: 55px;
}

.h-m60 {
  margin: 60px;
}

.h-ml0 {
  margin-left: 0px;
}

.h-ml5 {
  margin-left: 5px;
}

.h-ml10 {
  margin-left: 10px;
}

.h-ml15 {
  margin-left: 15px;
}

.h-ml20 {
  margin-left: 20px;
}

.h-ml25 {
  margin-left: 25px;
}

.h-ml30 {
  margin-left: 30px;
}

.h-ml35 {
  margin-left: 35px;
}

.h-ml40 {
  margin-left: 40px;
}

.h-ml45 {
  margin-left: 45px;
}

.h-ml50 {
  margin-left: 50px;
}

.h-ml55 {
  margin-left: 55px;
}

.h-ml60 {
  margin-left: 60px;
}

.h-mr0 {
  margin-right: 0px;
}

.h-mr5 {
  margin-right: 5px;
}

.h-mr10 {
  margin-right: 10px;
}

.h-mr15 {
  margin-right: 15px;
}

.h-mr20 {
  margin-right: 20px;
}

.h-mr25 {
  margin-right: 25px;
}

.h-mr30 {
  margin-right: 30px;
}

.h-mr35 {
  margin-right: 35px;
}

.h-mr40 {
  margin-right: 40px;
}

.h-mr45 {
  margin-right: 45px;
}

.h-mr50 {
  margin-right: 50px;
}

.h-mr55 {
  margin-right: 55px;
}

.h-mr60 {
  margin-right: 60px;
}

.h-mt0 {
  margin-top: 0px;
}

.h-mt5 {
  margin-top: 5px;
}

.h-mt10 {
  margin-top: 10px;
}

.h-mt15 {
  margin-top: 15px;
}

.h-mt20 {
  margin-top: 20px;
}

.h-mt25 {
  margin-top: 25px;
}

.h-mt30 {
  margin-top: 30px;
}

.h-mt35 {
  margin-top: 35px;
}

.h-mt40 {
  margin-top: 40px;
}

.h-mt45 {
  margin-top: 45px;
}

.h-mt50 {
  margin-top: 50px;
}

.h-mt55 {
  margin-top: 55px;
}

.h-mt60 {
  margin-top: 60px;
}

.h-mb0 {
  margin-bottom: 0px;
}

.h-mb5 {
  margin-bottom: 5px;
}

.h-mb10 {
  margin-bottom: 10px;
}

.h-mb15 {
  margin-bottom: 15px;
}

.h-mb20 {
  margin-bottom: 20px;
}

.h-mb25 {
  margin-bottom: 25px;
}

.h-mb30 {
  margin-bottom: 30px;
}

.h-mb35 {
  margin-bottom: 35px;
}

.h-mb40 {
  margin-bottom: 40px;
}

.h-mb45 {
  margin-bottom: 45px;
}

.h-mb50 {
  margin-bottom: 50px;
}

.h-mb55 {
  margin-bottom: 55px;
}

.h-mb60 {
  margin-bottom: 60px;
}

.h-p0 {
  padding: 0px;
}

.h-p5 {
  padding: 5px;
}

.h-p10 {
  padding: 10px;
}

.h-p15 {
  padding: 15px;
}

.h-p20 {
  padding: 20px;
}

.h-p25 {
  padding: 25px;
}

.h-p30 {
  padding: 30px;
}

.h-p35 {
  padding: 35px;
}

.h-p40 {
  padding: 40px;
}

.h-p45 {
  padding: 45px;
}

.h-p50 {
  padding: 50px;
}

.h-p55 {
  padding: 55px;
}

.h-p60 {
  padding: 60px;
}

.h-pl0 {
  padding-left: 0px;
}

.h-pl5 {
  padding-left: 5px;
}

.h-pl10 {
  padding-left: 10px;
}

.h-pl15 {
  padding-left: 15px;
}

.h-pl20 {
  padding-left: 20px;
}

.h-pl25 {
  padding-left: 25px;
}

.h-pl30 {
  padding-left: 30px;
}

.h-pl35 {
  padding-left: 35px;
}

.h-pl40 {
  padding-left: 40px;
}

.h-pl45 {
  padding-left: 45px;
}

.h-pl50 {
  padding-left: 50px;
}

.h-pl55 {
  padding-left: 55px;
}

.h-pl60 {
  padding-left: 60px;
}

.h-pr0 {
  padding-right: 0px;
}

.h-pr5 {
  padding-right: 5px;
}

.h-pr10 {
  padding-right: 10px;
}

.h-pr15 {
  padding-right: 15px;
}

.h-pr20 {
  padding-right: 20px;
}

.h-pr25 {
  padding-right: 25px;
}

.h-pr30 {
  padding-right: 30px;
}

.h-pr35 {
  padding-right: 35px;
}

.h-pr40 {
  padding-right: 40px;
}

.h-pr45 {
  padding-right: 45px;
}

.h-pr50 {
  padding-right: 50px;
}

.h-pr55 {
  padding-right: 55px;
}

.h-pr60 {
  padding-right: 60px;
}

.h-pt0 {
  padding-top: 0px;
}

.h-pt5 {
  padding-top: 5px;
}

.h-pt10 {
  padding-top: 10px;
}

.h-pt15 {
  padding-top: 15px;
}

.h-pt20 {
  padding-top: 20px;
}

.h-pt25 {
  padding-top: 25px;
}

.h-pt30 {
  padding-top: 30px;
}

.h-pt35 {
  padding-top: 35px;
}

.h-pt40 {
  padding-top: 40px;
}

.h-pt45 {
  padding-top: 45px;
}

.h-pt50 {
  padding-top: 50px;
}

.h-pt55 {
  padding-top: 55px;
}

.h-pt60 {
  padding-top: 60px;
}

.h-pb0 {
  padding-bottom: 0px;
}

.h-pb5 {
  padding-bottom: 5px;
}

.h-pb10 {
  padding-bottom: 10px;
}

.h-pb15 {
  padding-bottom: 15px;
}

.h-pb20 {
  padding-bottom: 20px;
}

.h-pb25 {
  padding-bottom: 25px;
}

.h-pb30 {
  padding-bottom: 30px;
}

.h-pb35 {
  padding-bottom: 35px;
}

.h-pb40 {
  padding-bottom: 40px;
}

.h-pb45 {
  padding-bottom: 45px;
}

.h-pb50 {
  padding-bottom: 50px;
}

.h-pb55 {
  padding-bottom: 55px;
}

.h-pb60 {
  padding-bottom: 60px;
}

.h-fs10 {
  font-size: 10px;
}

.h-fs11 {
  font-size: 11px;
}

.h-fs12 {
  font-size: 12px;
}

.h-fs13 {
  font-size: 13px;
}

.h-fs14 {
  font-size: 14px;
}

.h-fs15 {
  font-size: 15px;
}

.h-fs16 {
  font-size: 16px;
}

.h-fs17 {
  font-size: 17px;
}

.h-fs18 {
  font-size: 18px;
}

.h-fs19 {
  font-size: 19px;
}

.h-fs20 {
  font-size: 20px;
}

.h-fs21 {
  font-size: 21px;
}

.h-fs22 {
  font-size: 22px;
}

.h-fs23 {
  font-size: 23px;
}

.h-fs24 {
  font-size: 24px;
}

.h-fw-normal {
  font-weight: normal;
}

.h-fw-bold {
  font-weight: bold;
}

.h-fstyle-normal {
  font-style: normal;
}

.h-fstyle-italic {
  font-style: italic;
}

.h-clear {
  clear: both;
}

.h-clear-r {
  clear: right;
}

.h-clear-l {
  clear: left;
}

.h-float-right {
  float: right;
}

.h-float-left {
  float: left;
}

.h-float-none {
  float: none;
}

.h-display-inline {
  display: inline;
}

.h-display-inline-block {
  display: inline-block;
}

.h-display-block {
  display: block;
}

.h-display-none {
  display: none;
}

.h-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.h-cursor-pointer {
  cursor: pointer;
}

.h-cursor-move {
  cursor: move;
}

.h-cursor-auto {
  cursor: auto;
}

.h-cursor-help {
  cursor: help;
}

.h-relative {
  position: relative;
}

body {
  background-color: red;
}
