/*-----------------------------------------------------------------------------------*/
/*  BUTTONS
/*-----------------------------------------------------------------------------------*/

.button {
	width: auto;
	padding: 0 28px;
	height: $btn-height;
	line-height: $btn-height - ($btn-border-width*2);
	vertical-align:middle;
	display: inline-block;

	border: $btn-border-width solid $btn-border;
	color: $btn-color;
	background: $btn-bg;
	cursor: pointer;
	text-decoration: none;
	outline: none;

	border-radius: $radius;
	transition-duration: 200ms;
	transition-property: background-color, color, border-color;

	&:hover {
		border-color: $btn-border-hover;
		color: $btn-color;
		background: $btn-bg-hover;
	}

	&--loading{
		position: relative;
		color: transparent !important;
		cursor: wait;
		pointer-events: none;

		&:after{
			display:block;
			content: "";

			@include align();
			width: $btn-height - 10px;
			height: $btn-height - 10px;

			border-radius: 50%;
			border: round($btn-height / 10) solid #000;
			border-color: #ffffff transparent #ffffff transparent;

			animation: loading 1.3s linear infinite;
		}
	}
}