/*-----------------------------------------------------------------------------------*/
/*  FORMS BASIC SETTINGS
/*-----------------------------------------------------------------------------------*/

input, select, textarea {
	vertical-align:middle;
	box-shadow: none;

	&:focus {
		outline: none;

		&:-moz-placeholder {
		  	color:transparent; 
		}

		&::-moz-placeholder {
		  	color:transparent; 
		}

		&::-webkit-input-placeholder {
		  	color:transparent; 
		}

		&:-ms-input-placeholder {  
		  	color:transparent; 
		}
	}

	&:-moz-placeholder {
	   opacity: 1; 
	}

	&::-moz-placeholder {
	  	opacity: 1; 
	}

	&::-webkit-input-placeholder {
	   opacity: 1; 
	}

	&:-ms-input-placeholder {  
	   opacity: 1; 
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}