$list-gap: $column-gap;

.list-items {
	@include cfx();
	margin: 0 -$list-gap/2 -$list-gap/2;
	display: block;

	&__item {
		float: left;
		padding: 0 $list-gap/2 $list-gap/2 $list-gap/2;
		width: percentage(1/4);

		font-size: $font-size;
		text-align: center;

		&__in {
			display: block;
			padding: 10px;
			position: relative;

			text-decoration: none;
		}

		&__title {
			font-size: 16px;
			font-weight: normal;
			color: $color-link;
			text-decoration: underline;

			.list-items__item__in:hover & {
				text-decoration: none;
			}
		}

		&__price {
			color: $color-base;
		}
	}
}
