.box-filter{
	position: relative;
	padding: 85px 0;
	display: none;

	&__close{
		position: absolute;
		top:35px;
		right: 35px;
		@include size(42);

		cursor: pointer;

		i{
			@include align();
			@include animate(transform);
		}

		&:hover i{
			@include rotate(90);
		}
	}

	&__in{
		max-width: 610px;
		margin: 0 auto;
	}

	&__title{
		text-align: center;
		color: $color-base;
		font-size: 25px;
		line-height: 1;
		@include font();
		margin-bottom: 48px;
	}

	&__subtitle{
		margin-top: 100px;
		margin-bottom: 50px;

		text-align: center;
		color: $color-base;
		font-size: 18px;
	}

	&__checkboxes{
		margin: -11px 0;

		.columns{
			font-size: 0;
			text-align: left;

			&__item{
				float: none;
				display: inline-block;
				vertical-align: top;
				font-size: $font-size;
			}
		}
	}

	&__footer{
		padding-top: 75px;

		&__more{
			display: table;
			margin: 0 auto;

			font-size: 16px;
			color: $color-base;
			text-decoration: none;

			&:before{
				display:inline-block;
				vertical-align: middle;
				content: "";
				@include sprite(advanced);
				margin-right: 10px;
				margin-top: -3px;
			}
		}

		.button{
			@include font(bold);
			font-size: 19px;
			margin: 30px 0 11px;
		}

		.form-checkbox{
			margin: 0 auto;
		}
	}

	&--secondary{
		padding: 100px 0 50px;
	}

	&--window{
		display: block;
		padding-top: 0;
	}

	@include query( $query-xl ){
		&--secondary{
			margin-top: -130px;
		}
	}

	@include query( $query-l ){

		&__close{
			top: 10px;
			right: 10px;
		}

		&--secondary &{
			&__close{
				right: 0;
			}
		}
	}

	@include query( $query-m ){
		padding: 50px 0;

		&--window{
			padding-top: 0;
		}

		&__subtitle{
			margin-top: 70px;
			margin-bottom: 30px;
		}
	}

	@include query( $query-s ){
		&--secondary{
			margin-top: -100px;
		}
	}
}