.box-image{
	position: relative;
	height: 270px;
	display: table;
	width: 100%;
	@include cover();
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;

	&:before{
		display: block;
		content: "";
		@include align();
		@include rgba(#000, 0.34);
	}

	&__in{
		vertical-align: bottom;
		padding-bottom: 125px;
		display: table-cell;
		color: $color-white;
	}

	&__title{
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 0;
		max-height: 75px;
		overflow: hidden;
	}
}