.box-map{
	position: relative;
	padding-bottom: 48.8%;

	&__in{
		@include align();
	}

	@include query( $query-xl ){
		padding-bottom: 45%;
	}

	@include query( $query-s ){
		padding-bottom: 55%;
	}
}