.list-pagination{
	@include reset-ul();
	@include cfx();
	padding: 60px 0;
	text-align: center;
	font-size: 0;

	&__item{
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		line-height: 1;

		&__in{
			display: block;
			text-decoration: none;
			color: $color-white;
			padding: 18px 12px;
			@include font(semibold);	
			background: $color-primary;
			@include animate(color);

			&.current{
				color: $color-white;
				background: #4e0b0e;

				&:hover{
					background: #4e0b0e;
					color: $color-white;
				}
			}

			&:hover{
				color: #4e0b0e;
			}

			&--empty{
				&:hover{
					background: $color-primary;
					color: $color-white;
				}
			}

			.list-pagination__item:nth-last-child(2) &{
				@include border-radius(0 28px 28px 0);
				padding-right: 25px;
			}

			.list-pagination__item:nth-child(2) &{
				@include border-radius(28px 0 0 28px);
				padding-left: 25px;
			}
		}

		&--text{
			margin: 0 20px;
			
			.list-pagination__item__in{
				height: 56px;
				line-height: 56px;
				padding: 0 25px;
				color: $color-base;
				background: $color-white;
				@include border-radius(28px);

				text-align: center;
				@include animate("background, color");
				@include font(bold);

				&:hover{
					background: $color-primary;
					color: $color-white;
				}
			}
		}
	}
}