// ************************************************************************************
// Used fonts mixins
// ************************************************************************************

// pouzit definovaneho mixinu v 2_mixins.scss
// font-face($font-name, $font-file)

// ************************************************************************************

// pouziti fontu v sass
//.cokoliv{ @include font(); }
//
// vysledek v css:
//.cokoliv { font-family: "Open Sans Regular", Arial, Helvetica, sans-serif; }

// ************************************************************************************


// fonts mixin example
//@include    font-face( 'pebbleregular', pebble/pebble_rg_beta2 );


//fonts mixin

@mixin font($font-variant:regular){
	font-family: "Open Sans", $font-base;

	@if $font-variant == light{
		font-weight: 300;
	} 

	@else if $font-variant == regular{
		font-weight: 400;
	} 

	@else if $font-variant == semibold{
		font-weight: 600;
	} 

	@else if $font-variant == bold{
		font-weight: 700;
	} 

	@else{
		@warn "No such font-VARIANT specified";
	}
}
