%preloader{
	@include background("preloader.gif", center center);

	.page-loaded &{
		background-image: none;
	}
}

.lazyload{

	.no-js &{
		display: none;
	}
}

.js .js-animate{
	visibility: hidden;

	&.animated{
		visibility: visible;
	}
}

img[data-src], img[data-lazy]{
	&:not([src]){
		visibility: hidden;
		min-width: 5px;
		min-height: 5px;
	}
}


.imgToBg{
	@include align();

	background-position: center center;
	background-repeat: no-repeat;
	@include cover();
}