@import "base/tailwind-base.pcss";
@import "base/html.pcss";
@import "base/other.pcss";

/* libs 
@import "libs/swiper.pcss";
@import "libs/tippy.pcss";
*/

/* components */
@import "components/btn.pcss";
@import "components/collapse.pcss";
@import "components/icon.pcss";
@import "components/modal.pcss";
@import "components/prose.pcss";

/* tailwind core */
@tailwind components;
@tailwind utilities;
