
.icon{
	display: inline-block;
	vertical-align: middle;
}

// ********************************
// sprite functions
// ********************************

@import "sprite-functions";



// import here all the sprites PNG and SVG

// ********************************
// PNG sprites 
// ********************************

@import "png-sprite/png-sprite";//pokud se pouziva PNG sprite odstranit backgound-size z .icon nahore!!!!!!



// ********************************
// SVG sprites 
// ********************************

$ieSprite: '.no-svg' !default;
$baseFontSize: 16px !default;
$mq-base-font-size: 10px;

//@import "svg-sprite/svg-sprite";
