
.icon{
	display: inline-block;
	vertical-align: middle;
	text-indent: -99999px;

	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	-ms-background-size: contain;
	background-size: contain;
	background-position: center center;
	
	svg {
		display: block;
	  	width: 100%;
	  	height: 100%; 
	}
}

// ********************************
// sprite functions
// ********************************

@import "sprite-functions";



// import here all the sprites PNG and SVG

// ********************************
// PNG sprites 
// ********************************

//@import "png-sprite/png-sprite";//pokud se pouziva PNG sprite odstranit backgound-size z .icon nahore!!!!!!



// ********************************
// SVG sprites 
// ********************************

$ieSprite: '.no-svg' !default;
$baseFontSize: 16px !default;
$mq-base-font-size: 10px;

//@import "svg-sprite/svg-sprite";
