// najde ikonku a jeji atributy mezi vsemi ikony
@function sprite-attr($icon, $allIcons, $attr) {
  $newIcon: map-get($allIcons, $icon);
  @if $newIcon == null {
    @warn "Can't find an icon with the name #{$icon}";
  }
  @return map-get($newIcon, $attr);
}

// zjisti jednotlive atributy
@function icon-attr($icon, $allIcons) {
  $attr: (
    width: sprite-attr($icon, $allIcons, width),
    height: sprite-attr($icon, $allIcons, height),
    x: sprite-attr($icon, $allIcons, backgroundX),
    y: sprite-attr($icon, $allIcons, backgroundY)
  );
  @return $attr;
}
