<nav class="py-3 border-b">
  <div class="container">
    <p class="mb-0 flex flex-col sm:flex-row items-baseline sm:justify-between">
      <a href="https://www.html-factory.cz/produkty/frontend-starter/?referrer=homepage"
        class="mb-0 mr-3 text-nowrap font-bold">
        Grunt frontend starter
      </a>
      <span>Framework pro efektivní vývoj webů</span>
    </p>
  </div>
</nav>
