/*-----------------------------------------------------------------------------------*/
/*  BUTTONS
/*-----------------------------------------------------------------------------------*/

.button {
	width: auto;
	padding: $button-padding-y $button-padding-x;
	height: $button-height;
	line-height: 1;

	vertical-align:middle;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	border: 0;
	color: $color-base;
	background: transparent;

	cursor: pointer;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;

	border-radius: $radius;
	transition-duration: 200ms;
	transition-property: background-color, color, border-color;
	
	&::before,&::after{
		content: '';
    	flex: 1 0 auto;
	}

	&--block{
		display: block;
	}

	&[class*='button--outline']{
		border-width: $button-border-width;
		border-style: solid;
	}

	&--sm{
		height: $button-height-sm;
	}

	&--lg{
		height: $button-height-lg;
	}

	&:focus{
		outline: none;
		transform: scale(1.1);
	}
}

	