.container{
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;

	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: $width-layout;

	@include query( $query-last ){
		padding: 0 $padding-layout;
	}
}