/*************************************************************************************
*  Grid system
**************************************************************************************/

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -$grid-gutter;

  &__item {
    padding-left: $grid-gutter;
    flex: 0 1 auto;

    // grid default 				(grid__item-1)
    // ------------------------------------------------
    @for $i from 1 through $grid-columns-number {
      &--#{$i} {
        width: percentage($i / $grid-columns-number);
      }
    }

    // grid-last 						(grid__item--last-1)
    // ------------------------------------------------
    @include query($query-last) {
      @for $i from 1 through $grid-columns-number {
        &--last-#{$i} {
          width: percentage($i / $grid-columns-number);
        }
      }
    }
  } //--col
} //--row
