/*************************************************************************************
*  Grid system 
**************************************************************************************/

.grid{
	@include cfx();
	list-style: none;
	margin-left: -$column-gap;

	&__item {
		float: left;
		padding-left: $column-gap;

		&--right{
			float: right;
		}

		&--center{
			float:none;
			clear:both;
			margin: 0 auto;
		}

		// grid default 				(grid__item-1)
		// ------------------------------------------------
		@for $i from 1 through $columns-count {
			&--#{$i}{ width: percentage($i / $columns-count); }
		}


		// grid-last 						(grid__item--last-1)
		// ------------------------------------------------
		@include query( $query-last ){

			@for $i from 1 through $columns-count {
				&--last-#{$i}{ width: percentage($i / $columns-count); }
			}
		}

	}//--col
}//--row