.icon {
  display: inline-block;
  flex-shrink: 0;
  fill: currentColor;
  width: 1em;
  height: 1em;

  svg:not(.icon) {
    display: block;
    width: inherit;
    height: inherit;
    fill: inherit;
  }

  [data-toggle="collapse"] & {
    transition: transform $transition-duration;
  }

  [aria-expanded="true"] & {
    transform: rotate(180deg);
  }
}
