.image {
  &-cover {
    object-fit: cover;
  }

  &-contain {
    object-fit: contain;
  }

  &-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-scale-down {
    object-fit: scale-down;
  }
}
