.input, .textarea, .select{
	display: block;
	width: 100%;
	padding-left: $input-padding-x;
	padding-right: $input-padding-x;

	font-size: inherit;
	font-family: inherit;
	color: $color-base;

	background: $input-bg;
	border: $input-border-width solid $input-border;

	transition-duration: 200ms;
	transition-property: background-color, color, border-color;

	&::placeholder{
    	color: currentColor;
    }

    &:focus {
		background: darken(white, 2%);
		border-color: darken($color-border, 10%);
	}
}

.textarea{
	height: $input-height*3;
	min-height: $input-height;
	line-height: $input-height/3*2;

	padding-top: $input-padding-y;
	padding-bottom: $input-padding-y;
}

.input, .select{
	height: $input-height;
	line-height: $input-height - ($input-border-width*2);

	&--sm{
		height: $input-height-sm;
		line-height: $input-height-sm - ($input-border-width*2);
	}

	&--lg{
		height: $input-height-lg;
		line-height: $input-height-lg - ($input-border-width*2);
	}
}

.select{
    appearance: none;
    text-overflow:'';
    text-indent: 0.01px;

    &::-ms-expand {
        display: none;
    }
}