.layout{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
	&__center{
		@include cfx;
		margin: 0 auto;
		position: relative;

		width: $width-layout;

		@include query( $query-last ){
			width: auto;
			padding: 0 $padding-layout;
		}
	}

	&__content{
		flex-grow: 100;
	}

	&__hidesvg{
		width: 0;
		height: 0;
		overflow: hidden;
	}
}