@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    /*
    @media (max-width: 375px) {
      font-size: calc(16 * 100 / 375 * 1vw);
    }

    @media (min-width: 376px) and (max-width: 414px) {
      font-size: calc(16 * 100 / 375 * 1vw);
    }

    &:not(.modal-opened) {
      @apply scroll-pt-[60px] lg:scroll-pt-[80px] scroll-smooth;
    }
    */
  }
}
