@layer base {
  * {
    max-height: 999999px; /* android chrome font boosting https://bugs.webkit.org/show_bug.cgi?id=84186 */
  }
  /*
    input[type='search']::-webkit-search-cancel-button {
      display: block;
      width: 20px;
      height: 20px;
      appearance: none;
      cursor: pointer;
  
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.27,12l4.1-4.1c0.35-0.35,0.35-0.92,0-1.27c-0.35-0.35-0.92-0.35-1.27,0l-4.1,4.1l-4.1-4.1	c-0.35-0.35-0.92-0.35-1.27,0s-0.35,0.92,0,1.27l4.1,4.1l-4.1,4.1c-0.35,0.35-0.35,0.92,0,1.27c0.35,0.35,0.92,0.35,1.27,0l4.1-4.1 l4.1,4.1c0.35,0.35,0.92,0.35,1.27,0c0.35-0.35,0.35-0.92,0-1.27L13.27,12z"/></svg>')
        center / 20px no-repeat;
    }
    */
}
