$toggleNavSpanHeight:		4px;//vyska spanu
$toggleNavSpanVertical:		35px;//mezera shora a zespod
$toggleNavSpanHorizontal:	30px;//mezera zleva/zprava


.toggle-nav{
	display: block;
	@include size(90);

	position: absolute;
	top: 0;
	right: 0;

	border-left: 1px solid $color-border;

	outline: none;
	cursor: pointer;
	background: transparent;

	&__span{
		display: block;
		position: absolute;

		height: $toggleNavSpanHeight;
		left: $toggleNavSpanHorizontal;
		right: $toggleNavSpanHorizontal;

		background: $color-border;
		@include animate("transform, top, bottom, margin, opacity");

		
		&--top{
			top: $toggleNavSpanVertical;
		}

		&--middle{
			top: 50%;
			margin-top: (-$toggleNavSpanHeight/2);
			@include animate(opacity);
		}

		&--bottom{
			bottom: $toggleNavSpanVertical;
		}
	}

	&.active{

		.toggle-nav__span{

			&--top{
				top: 50%;
				@include rotate(45);
				margin-top: (-$toggleNavSpanHeight/2);
			}

			&--middle{
				@include opacity(0);
			}

			&--bottom{
				bottom: 50%;
				@include rotate(-45);
				margin-bottom: (-$toggleNavSpanHeight/2);
			}
		}
	}
}