.prose {
  font-size: theme("fontSize.15px");
  line-height: theme("lineHeight.relaxed");
  color: theme("colors.gray.DEFAULT");
  --space: theme("spacing.4");

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    line-height: theme("lineHeight.snug");
    color: theme("colors.black");
    font-weight: theme("fontWeight.bold");
  }

  h1 {
    font-size: 2em; /* 30 */
  }

  h2 {
    font-size: 1.33em; /* 25 */
  }

  h3 {
    font-size: 1.2em; /* 20 */
  }

  h4 {
    font-size: 1.2em; /* 18 */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: calc(var(--space) * 1.85);
    margin-bottom: calc(var(--space) / 2);

    &:first-child {
      margin-top: 0;
    }
  }

  .lead {
    font-size: 1.2em;
    line-height: theme("lineHeight.relaxed");
    margin-bottom: theme("spacing.5");
  }

  a {
    @apply text-primary underline hover:text-primary-hover transition-colors;
  }

  > * {
    margin-bottom: var(--space);
  }

  img,
  figure,
  hr,
  .wp-caption {
    margin: calc(var(--space) * 2);
  }

  hr {
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid theme("colors.gray.100");
  }

  figure,
  .wp-caption {
    max-width: 100%;

    img {
      margin: 0;
    }

    figcaption,
    .wp-caption-text {
      @apply font-medium;
      font-size: theme("fontSize.12px");
      line-height: theme("lineHeight.relaxed");
      padding: theme("spacing.2") 0;
      color: theme("colors.gray.500");
      border-bottom: 1px solid theme("colors.gray.100");
    }
  }

  .alignleft,
  .wp-caption.alignleft {
    float: left;
    margin: 0 var(--space) var(--space) 0;
  }

  .alignright,
  .wp-caption.alignright {
    float: right;
    margin: 0 0 var(--space) var(--space);
  }

  .aligncenter,
  .wp-caption.aligncenter {
    @apply ml-auto mr-auto;
  }

  figure .aligncenter {
    @apply grid place-content-center;
  }

  blockquote {
    position: relative;
    font-size: theme("fontSize.18px");
    line-height: theme("lineHeight.relaxed");
    @apply font-medium;
    padding: 0;
    margin: theme("spacing.7") 0;
    color: theme("colors.primary.DEFAULT");

    &::before {
      display: block;
      content: "";
      position: relative;

      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      margin-bottom: theme("spacing.7");
      background: red;
    }

    cite {
      display: block;
      margin-top: theme("spacing.2");
      font-size: theme("fontSize.15px");
      color: theme("colors.gray.700");
    }
  }

  ul,
  ol {
    position: relative;
    padding-left: 1.1em;

    li + li,
    ul,
    ol {
      margin-top: 0.5em;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  h1 + h2,
  h2 + h3,
  h3 + h4,
  h5 + h6 {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  @screen md {
    --space: theme("spacing.6");

    blockquote {
      font-size: theme("fontSize.20px");
      padding-left: 100px;
      padding-right: 40px;
      margin: theme("spacing.9") 0;

      &::before {
        position: absolute;
        left: 40px;
        top: 10px;
        margin: 0;
      }
    }
  }
}
