.window-detail{
	position: relative;
	text-align: left;

	&__subtitle{
		margin-bottom: 20px;
		color: $color-primary;
	}

	&__header{
		max-width: 700px;
		margin-bottom: 30px;

		&__title{
			font-size: 30px;
			line-height: 35px;
			margin-bottom: 10px;
			@include font(bold);
		}

		&__location{
			font-size: 14px;
			line-height: 18px;
			@include font(semibold);
		}

		&__print{
			position: absolute;
			right: 50px;
			top: 55px;
			display: inline-block;
			text-decoration: none;
			color: $color-base;

			i{
				display: inline-block;
				margin-left: 10px;
			}
		}
	}

	@include query(1279){
		padding: 40px 25px;
	}

	@include query(959){
		padding: 50px;
	}

	@include query(767){
		padding: 20px;

		&__header{
			margin-bottom: 50px;
			&__location{
				padding-right: 65px;
			}

			&__print{
				right: 20px;
			}
		}
	}

	@include query(639){
		&__header{
			margin-bottom: 30px;

			&__location{
				padding-right: 0;
			}

			&__print{
				display: none;
			}
		}
	}
}