/* <%= project.sprite.name %> sprite png icons */
$icons: (
    sprite: (
      width: 387px, 
      height: 382px, 
      path: "../images/sprites/png-sprite.png"
    ),
    advanced: (
      width: 20px, 
      height: 20px, 
      backgroundX: -166px, 
      backgroundY: -118px
    ),
    arrow-down: (
      width: 20px, 
      height: 11px, 
      backgroundX: -269px, 
      backgroundY: -142px
    ),
    arrow-top: (
      width: 20px, 
      height: 11px, 
      backgroundX: -73px, 
      backgroundY: -297px
    ),
    auction: (
      width: 59px, 
      height: 59px, 
      backgroundX: -307px, 
      backgroundY: -136px
    ),
    checked: (
      width: 11px, 
      height: 9px, 
      backgroundX: -108px, 
      backgroundY: -297px
    ),
    close-hover: (
      width: 24px, 
      height: 24px, 
      backgroundX: -351px, 
      backgroundY: -210px
    ),
    close: (
      width: 24px, 
      height: 24px, 
      backgroundX: -166px, 
      backgroundY: -79px
    ),
    commercial-property-hover: (
      width: 86px, 
      height: 56px, 
      backgroundX: -206px, 
      backgroundY: 0px
    ),
    commercial-property: (
      width: 86px, 
      height: 56px, 
      backgroundX: -206px, 
      backgroundY: -71px
    ),
    fb-hover: (
      width: 32px, 
      height: 32px, 
      backgroundX: -214px, 
      backgroundY: -250px
    ),
    fb: (
      width: 32px, 
      height: 32px, 
      backgroundX: -261px, 
      backgroundY: -250px
    ),
    flats-hover: (
      width: 68px, 
      height: 81px, 
      backgroundX: 0px, 
      backgroundY: -79px
    ),
    flats: (
      width: 68px, 
      height: 81px, 
      backgroundX: -83px, 
      backgroundY: -79px
    ),
    goog-hover: (
      width: 32px, 
      height: 32px, 
      backgroundX: -140px, 
      backgroundY: -323px
    ),
    goog: (
      width: 32px, 
      height: 32px, 
      backgroundX: -187px, 
      backgroundY: -323px
    ),
    houses-hover: (
      width: 80px, 
      height: 47px, 
      backgroundX: -307px, 
      backgroundY: 0px
    ),
    houses: (
      width: 80px, 
      height: 47px, 
      backgroundX: -188px, 
      backgroundY: -175px
    ),
    ins-hover: (
      width: 32px, 
      height: 32px, 
      backgroundX: -167px, 
      backgroundY: -250px
    ),
    ins: (
      width: 32px, 
      height: 32px, 
      backgroundX: -73px, 
      backgroundY: -250px
    ),
    lands-hover: (
      width: 55px, 
      height: 59px, 
      backgroundX: 0px, 
      backgroundY: -323px
    ),
    lands: (
      width: 55px, 
      height: 59px, 
      backgroundX: -70px, 
      backgroundY: -323px
    ),
    others-hover: (
      width: 88px, 
      height: 64px, 
      backgroundX: -103px, 
      backgroundY: 0px
    ),
    others: (
      width: 88px, 
      height: 64px, 
      backgroundX: 0px, 
      backgroundY: 0px
    ),
    print: (
      width: 16px, 
      height: 16px, 
      backgroundX: -238px, 
      backgroundY: -142px
    ),
    range-area: (
      width: 29px, 
      height: 24px, 
      backgroundX: -307px, 
      backgroundY: -210px
    ),
    range-price: (
      width: 26px, 
      height: 26px, 
      backgroundX: -327px, 
      backgroundY: -323px
    ),
    recreational-objects-hover: (
      width: 79px, 
      height: 60px, 
      backgroundX: 0px, 
      backgroundY: -175px
    ),
    recreational-objects: (
      width: 79px, 
      height: 60px, 
      backgroundX: -94px, 
      backgroundY: -175px
    ),
    rental: (
      width: 61px, 
      height: 59px, 
      backgroundX: -307px, 
      backgroundY: -62px
    ),
    sale: (
      width: 58px, 
      height: 58px, 
      backgroundX: 0px, 
      backgroundY: -250px
    ),
    search: (
      width: 17px, 
      height: 17px, 
      backgroundX: -206px, 
      backgroundY: -142px
    ),
    settings: (
      width: 31px, 
      height: 31px, 
      backgroundX: -281px, 
      backgroundY: -323px
    ),
    skype-hover: (
      width: 32px, 
      height: 32px, 
      backgroundX: -308px, 
      backgroundY: -250px
    ),
    skype: (
      width: 32px, 
      height: 32px, 
      backgroundX: -120px, 
      backgroundY: -250px
    ),
    twitter-hover: (
      width: 32px, 
      height: 32px, 
      backgroundX: -355px, 
      backgroundY: -250px
    ),
    twitter: (
      width: 32px, 
      height: 32px, 
      backgroundX: -234px, 
      backgroundY: -323px
    ),
);

$sprite: map-get($icons, sprite) !default;

%sprite {
  background-image: url(map-get($sprite, path));
  background-size: map-get($sprite, width) map-get($sprite, height);
}

@mixin sprite($icon, $type: all) {

  @if $type == all {
    @extend %sprite;
  }

  $iconMap: icon-attr($icon, $icons);

  @if $type == all or $type == size or $type == nobg {
    width: map-get($iconMap, width);
    height: map-get($iconMap, height);
  }

  @if $type == all or $type == bg or $type == nobg {
    background-position: map-get($iconMap, x) map-get($iconMap, y);
  }
}

@each $spriteImage in map-keys($icons){

  @if $spriteImage != "sprite" {

    $iconMap: icon-attr($spriteImage, $icons);

    .icon__#{$spriteImage}{
      @include sprite($spriteImage, nobg);
    }
      
  }
}

.icon{
  @extend %sprite;
}

